[2020-05-05 20:23] davyodom opened #3 "Establish release support"
A /hack/release.sh script must be added to support nightly builds. An early poc shows that ko and yaml can be used for this purpose.  This was done in the poc by adding and using the librdkafka c libraries in the dependency tree (now supported by current versions of confluent-kafka-go).

However, a local developer experience will need to be somewhat different as cross compilation has some special

[2020-05-05 20:38] davyodom opened #4 "Initial e2e tests"
E2E tests verifying end to end kafka channel functionality should be added following the paradigm of https://github.com/knative/eventing-contrib/tree/master/test/e2e

[2020-05-05 20:41] davyodom opened #5 "Refactor to context usage"
https://github.com/knative-sandbox/eventing-kafka/pull/2/files/4969f438aba5f6befbbc25269a21230a665e1faf#r416775804

Refactor to standard context usage instead of shutdown channels managing lifecycle

[2020-05-06 13:27] aslom commented on #3
I wonder to what degree we can make it compatible with developer experience in knative.

[2020-05-06 15:49] davyodom opened #6 "Convert to Go Mod"
Get rid of dep and switch over! Lots of examples in eventing and eventing-contrib to reference here.

[2020-05-06 17:26] travis-minke-sap opened #7 "CloudEvents SDK V2 & Eventing Channel Updates"
Currently the implementation is based on CloudEvents SDK V1 and we need to catch up with the rest of knative eventing by moving the SDK to V2.  Additionally, and probably more importantly, the implementation needs to move to the new/latest knative-eventing channel implementations for sending/receiving CloudEvents.

This is expected to be the final set of changes carried over from the [kyma-incubat

[2020-05-06 19:29] davyodom opened #8 "Reevaluate confluent-kafka-go decision"
confluent-kafka-go was originally chosen for this channel implementation over sarama for several reasons (this was more than a year ago)
- Ordering was not guaranteed in error cases by sarama producer
- consumer group distribution with sarama-cluster over multiple processes elastically had issues
- manual offset commit support lacking in sarama
- only supported older kafka versions and did not hav

[2020-05-07 17:18] travis-minke-sap commented on #7
/assign @travis-minke-sap

[2020-05-08 14:41] slinkydeveloper commented on #8
Completely off topic _but not so much_, @pierDipi proposed to create the alternative kafka broker using java for the data-plane, exactly to avoid issues with "half baked" kafka golang libs:  https://docs.google.com/document/d/10-qylWrj7Tj81EqoIiZ2AANAZNmkKe7XKmFobgZULKY/edit?usp=sharing

[2020-05-08 16:43] #7 closed

[2020-05-11 23:54] davyodom commented on #3
/assign @davyodom

[2020-05-13 02:00] davyodom commented on #4
/assign @travis-minke-sap

[2020-05-13 02:00] davyodom commented on #8
/assign @phamilton

[2020-05-13 18:30] travis-minke-sap opened #12 "Missing / Invalid Kafka Secret Handling"
When configured for `azure` KAFKA_PROVIDER usage, the current implementation handles the case where there are no Kafka Secrets (ie - those labelled with `eventing-kafka.knative.dev/kafka-secret: "true"`).   It does not do so when using standard `kafka` KAFKA_PROVIDER.

In general we should have the controller be stable when there are no Kafka Secrets, or when the Kafka Secrets are malformed or inc

[2020-05-13 18:31] travis-minke-sap commented on #12
/label bug

[2020-05-13 19:03] travis-minke-sap commented on #12
/assign travis-minke-sap

[2020-05-15 15:14] travis-minke-sap commented on #6
/assign travis-minke-sap

[2020-05-15 17:20] davyodom commented on #8
/assign @phamilton
prow was broken before :)

[2020-05-18 20:01] travis-minke-sap opened #15 "Consistent Support For Multiple Kafka Auth Secrets"
Currently the Azure EventHubs AdminClient supports multiple Kafka Authorization Secrets and the "normal" Kafka AdminClient does not.  It would be good to step back and define requirements around the consistent support for multiple Kafka instances.

**Background**
Azure EventHubs (Kafka compatibility / emulation) limit the number of EventHubs (Kafka Topics) can exist in a specific EventHub Namespac

[2020-05-18 20:07] travis-minke-sap opened #16 "Dispatcher Retry & Dead Letter Queues"
Currently the implementation has custom retry logic which is preventing the use of the eventing MessageDispatcher.DispatchMessage()'s ability to send to the Dead Letter Queue.  Doing so would result in a separate Dead Letter Queue message for every retry attempt.  Need to look at retry implementations in conjunction with the Knative Eventing implementations to design a more flexible solution.

[2020-05-21 18:16] #3 closed

[2020-05-22 02:50] sbcd90 commented on #16
Hi @travis-minke-sap , I would like to work on this. Is it possible to kindly assign this to me?

[2020-05-22 03:50] davyodom commented on #16
/assign @sbcd90
Sure, give it a shot! It's possible that some change might be required for the eventing library.  The goal here is to share library usage with eventing, but maintain the ability for a reasonable retry, some of which now spans the cloud event sdk (v2 usage coming in an open pr).  Some configurability might need to be added separately there or the knative library as per some discussi

[2020-05-26 03:08] sbcd90 commented on #16
Hi @davyodom , thanks a lot. I created a document to initially propose my approach & trigger further discussions.
https://docs.google.com/document/d/1z3psNbyH7YnskzgzjLPdOFcLel4npld0ea7YwUJkZ4o/edit?usp=sharing

[2020-05-27 02:31] #6 closed

[2020-05-27 13:27] davyodom opened #18 "Health check test problems"
https://gubernator.knative.dev/build/knative-prow/logs/ci-knative-sandbox-eventing-kafka-continuous/1265621726134276096/

Race conditions and randomly failing health check tests.

[2020-05-27 13:28] davyodom commented on #18
/kind bug

[2020-05-27 14:58] travis-minke-sap commented on #16
Hi @sbcd90 - Thanks for putting together the proposal!  Unfortunately I don't think what you're suggesting will meet our requirements / needs.  Aside from being rather heavy-weight in it's use of another Topic / Consumer, it breaks our `in-order` guarantees by going async.  I haven't done much investigation into possible solutions as of yet, but my initial thought was one of the following...

  -

[2020-05-27 16:48] sbcd90 commented on #16
Hi @travis-minke-sap , thanks a lot for sharing your thoughts. I'll focus on point 1 first.
& then once it is solved, look into point 2.

[2020-05-27 16:59] davyodom commented on #18
/kind bug
(now that the labels are added)

[2020-05-27 17:17] davyodom commented on #16
Somewhat relevant here : https://github.com/knative/eventing/issues/2411

[2020-05-27 20:24] #12 closed

[2020-05-27 20:33] travis-minke-sap commented on #4
/assign @travis-minke-sap

[2020-06-03 15:57] travis-minke-sap commented on #18
/assign @eric-sap

[2020-06-03 16:06] travis-minke-sap commented on #15
/assign @travis-minke-sap

[2020-06-03 17:10] travis-minke-sap opened #22 "Support Eventing Tracing & Observability Configuration"
In order to improve our alignment with the core Knative Eventing implementations we should support the `config-tracing` and `config-observability` global ConfigMaps in the `knative-eventing` namespace.  This is similar to the work we did to align on the `config-logging` implementation.

[2020-06-09 17:18] travis-minke-sap opened #23 "Performance Testing"
Need to implement performance tests, once we have integration tests working (e2e/conformance - see #4)!

[2020-06-10 16:13] travis-minke-sap opened #24 "CloudEvent Tracing Compliance"
The Knative Channel Specification specifies the expected behavior of handling W3C Tracecontext headers. The current implementation does NOT meet these requirements in that the traceparent and tracestate headers are lost in transmission. A completely new traceparent value is instead sent to the subscriber.

Currently, the Knative In-Memory Channel reference implementation DOES adhere to the specifi

[2020-06-10 16:15] travis-minke-sap opened #25 "Improve Offset Commit Handling"
Currently we are manually committing offsets in a synchronous fashion inside the event receiving loop for a given consumer. There is no reason that this should be done synchronously and it can have a significant performance impact with some kafka providers (Azure EventHubs being one).

This issue is to redesign how we are handling offset commits. Either we need to change the code to perform offset

[2020-06-10 16:19] travis-minke-sap opened #26 "KafkaChannel Status Alignment"
The architecture of the `eventing-sandbox/eventing-kafka` implementation is inherently different from that of `eventing-contrib/kafka`.  The former is, however, based on the same KafkaChannel CRD as the latter.  This means that the Status tracking is not exactly aligned for tracking the resources READY states.  Further we've never tracked K8S Endpoints directly and might want to do so.  This likel

[2020-06-16 17:46] travis-minke-sap commented on #16
Hey there @sbcd90 - I was out for a couple days - I'll take a look at your PR now/soon ; )

[2020-06-18 23:11] travis-minke-sap opened #28 "HA Controller Follow-Up"
This issue is a placeholder to look a bit deeper into the new HA Controller support being introduced in Knative once things have settled out a bit more.  Research as of the time of writing is captured below for reference, but is of course subject to change...

### Research...

The Knative Operator appears to be driving this use case.  It currently/previously had a list of hardcoded Controllers fro

[2020-06-22 17:04] eric-sap opened #29 "Observability Configuration Follow-Up"
This issue is a placeholder to look further into the config-observability settings and determine if they are feasible to add to the eventing-kafka controller and dispatcher.

### Background

The main function of observability seems to be the enabling of profiling content on individual pods in the knative-eventing namespace.  More specifically, on any pod that uses the sharedmain.Main() implementat

[2020-06-24 17:53] #22 closed

[2020-06-24 18:18] eric-sap commented on #24
The tracing has been enabled for the channel and dispatcher (via #30) by calling tracing.SetupDynamicPublishing() inside an InitializeTracing() function called from their respective main() functions.

This currently results in traces that have a different TraceID for the channel and dispatcher tracing spans, which might be a bit confusing when looking through the results (zipkin, etc) for what is

[2020-07-06 16:39] phamilton commented on #8
Please find our performance comparison results here https://github.com/phamilton/go-kafka-benchmark. From a performance POV it is clear that except when utilizing the Azure EventHubs Kafka compatibility layer Sarama performance is significantly better than that provided by confluent-kafka-go and is comparable to the Java client in most cases.

Since using the Kafka layer of Azure EventHubs is like

[2020-07-06 17:53] lionelvillard commented on #8
it seems the Java client is much faster on the producer side. Any insights on why?

[2020-07-06 18:09] pierDipi commented on #8
From a quick look, it seems like default configurations among libraries are different.

For example, `acks`
- `Java` = `1` - see https://kafka.apache.org/documentation/#producerconfigs
- `librdkafka` = `-1` = `all brokers` - see https://github.com/edenhill/librdkafka/blob/master/CONFIGURATION.md#topic-configuration-properties
- `sarama` = `WaitForLocal` = `1` - see https://github.com/Shopify/saram

[2020-07-07 00:17] phamilton commented on #8
You are correct. Didn't look too much into the producer side as its trivial to scale the producers for performance needs. Trickier on the consumer side as you can only effectively scale to the number of partitions.

[2020-07-07 00:30] phamilton commented on #8
Good catch on the producer acks. Didn't spend much time on the producer as its so trivially horizontally scalable.

For the auto.commit.interval.ms that would only come into play on the consumer side not the producer side.  All 3 are committing offsets in the background outside of the message processing loop. It is possible that there is a slight performance hit from it though.

[2020-07-08 16:34] davyodom commented on #8
Do we need to get deep into tuning all of these libraries here or can we agree on the direction of switching to Sarama here? The previous functional reasons that blocked Sarama usage before have since been resolved, and the performance and simplicity also point in that direction.

[2020-07-08 16:39] tminke opened #31 "Convert To Sarama Kafka API"
Currently the implementation is based on the Confluent / Librdkafka libraries.  Originally (many moons ago) this library was deemed superior but Sarama has made strides in the meantime and is much easier to deal with from a build/deployment perspective.  Therefore, based on a recent re-evaluation (see #8) of the libraries we've decided to move to Sarama.  At the end of this story there should be n

[2020-07-08 16:40] tminke commented on #31
/assign @travis-minke-sap

[2020-07-08 16:47] phamilton commented on #8
Yes I should of probably made more clear that the performance tests ran were not meant to be a full comparison.  Mostly what we were interested in was any major differences between sarama and confluent-kafka-go.  Of which we certainly see on the consumption side a major difference. Though the code was checked in with certain settings, they were not the only ones ran with.  I did tweak the settings

[2020-07-08 17:17] pierDipi commented on #8
I don't think we need to go deeper.
Probably, a good next step is to improve re-usable pieces in `eventing-contrib` to create a library for both implementations. (see https://github.com/knative/eventing-contrib/tree/master/kafka/common/pkg/kafka).

[2020-07-09 08:13] slinkydeveloper commented on #8
+1 eventing-contrib already has some bits, we may extract even more and put them in kafka/common and share that code across the repos

[2020-07-09 19:22] tminke commented on #16
In case anyone is still looking at this...

as part of the Sarama conversion #31 - I'll be handling the DLQ there so this should not be worked - will close once #31 is completed.

[2020-07-09 19:34] sbcd90 commented on #16
Thanks a lot @tminke for informing. Is introduction of ‘resolver’ still something that can be worked on?

[2020-07-14 17:21] eric-sap opened #32 "Add Native Observability (Profiling and Metrics)"
### Background

In the eventing-kafka code (specifically in pkg/common/prometheus/metrics.go) we create a Prometheus server manually, and use the Observe function in channel/producer/producer.go and dispatcher/dispatcher.go to record metrics.

We want to take out this explicit Prometheus server and switch to using the knative-eventing built-in observability functionality (which will by default cre

[2020-07-21 16:02] travis-minke-sap commented on #29
/assign @eric-sap

[2020-07-22 15:06] travis-minke-sap opened #35 "eventing-contrib Version Updates & v1beta1 KafkaChannels"
We've been working on e2e tests (still pending) and the major Sarama conversion and have fallen behind on our use of eventing and eventing-contrib/kafka and need to catch up ; ). Aside from moving to the latest master version of eventing-contrib we also want to move to v1beta1 kafkachannels.

[2020-07-27 14:22] #29 closed

[2020-07-27 14:22] #32 closed

[2020-07-27 14:44] eric-sap opened #36 "Add support for a ConfigMap containing all the Sarama Kafka configuration"
Currently the Sarama configuration is set (in pkg/common/kafka/util/util.go) via some parameters and constants.  We would like to use a configmap for these settings where possible and reasonable.  The eventing-contrib/kafka implementation already has support for such a map, though with minimal content.  We’d like to reuse whatever makes sense (such as map watching) but with our own defined content

[2020-07-27 15:41] travis-minke-sap commented on #25
Closing this issue due to the pending Sarama refactor in #31 where we're no longer managing offset commits directly.

[2020-07-27 15:41] #25 closed

[2020-08-03 16:47] eric-sap commented on #36
Design decisions for this issue are as follows:

### All pods should independently watch the configmap for changes.

This will allow us to use logic inside the pod to allow graceful shutdown of ConsumerGroups and the Producer.

### Sarama components should only be restarted if the new configuration is different than the old one, for the component in question.

For example, if the only value change

[2020-08-04 16:10] #16 closed

[2020-08-04 16:10] #31 closed

[2020-08-05 13:50] travis-minke-sap commented on #35
/assign @travis-minke-sap

[2020-08-05 13:50] travis-minke-sap commented on #36
/assign @eric-sap

[2020-08-06 20:00] travis-minke-sap opened #37 "Convert Custom Retry Logic To Knative MessageDispatcher's New DispatchMessageWithRetries()"
Once we're up to date with the latest eventing-contrib/eventing we should refactor the Dispatcher's custom retry mechanism to make use of the newly added DispatchMessageWithRetries() functionality!

[2020-08-07 18:29] travis-minke-sap opened #39 "Support Custom Kafka AdminClient"
/non-trivial
/area eventing-delivery
/kind feature-proposal

## Problem Statement

It seems that some Kafka (or kafka-like) implementations provide support for the standard Kafka Producer / Consumer APIs, but not the Admin API (Topic management, etc).  Azure EventHubs is such an example, and while the current implementation supports that specific use case, it is possible that third-party users mig

[2020-08-07 18:50] #35 closed

[2020-08-07 19:00] travis-minke-sap commented on #39
/assign @travis-minke-sap

[2020-08-12 22:16] travis-minke-sap commented on #39
update! - plugins require CGO_ENABLED=1 which doesn't work with cross-compiling and/or fit neatly into the knative ko deployments, etc.   Will be reassessing options ; )

[2020-08-13 14:07] travis-minke-sap opened #40 "Pwd Logging Bug & Cleanup"
Recent refactoring of environment variable loading in channel/dispatcher resulted in passwords being logged - need to fix that.  Also need to remove the local-dev.sh script which is no longer used now that we're on Sarama and don't need to build inside linux docker container.

/kind bug

[2020-08-13 14:07] travis-minke-sap commented on #40
/assign @travis-minke-sap

[2020-08-13 14:57] #40 closed

[2020-08-17 17:53] travis-minke-sap opened #42 "Define Dynamic Spec Config Requirements For Channel/Dispatcher"
This issue is a placeholder reminder to circle back and define specific requirements around the handling of various configuration values for the Channel (Producer) and Dispatcher (Consumer) K8S Deployments.

The **eventing-kafka** ConfigMap exposes values related to the runtime characteristics of the Channel / Dispatcher deployments created by the Controller (i.e.  replicas, cpu_request, cpu_limit

[2020-08-24 16:47] #36 closed

[2020-08-25 16:43] travis-minke-sap opened #44 "v0.17.0 / master uplift"
Now that eventing-contrib has released v0.17.0 it would be good for us to move forward to the latest on master/.   Should be a smallish upgrade ; )

[2020-08-25 19:46] travis-minke-sap commented on #44
/assign @travis-minke-sap

[2020-08-25 20:28] #44 closed

[2020-09-01 15:51] travis-minke-sap opened #46 "Refactor ConfigMap Loading/Comparison"
The recently introduced ConfigMap support could be improved in a few ways and we'd like to refactor to reduce the complexity / maintenance.  The following areas need some love...

**NOTE** - We need to keep the new custom extraction logic which custom loads the Sarama.Version and TLS.Config info from the YAML string.  The overall lifecycle of the ConfigMap watchers is reasonable as well and doesn'

[2020-09-08 17:53] #39 closed

[2020-09-08 20:18] travis-minke-sap opened #48 "Uplift to latest eventing-contrib"
In preparation for the pending repository consolidation (moving eventing-contrib/kafka -> knative-sandbox/eventing-kafka) we need to get our implementation up to the same dependency versions as eventing-contrib.  This was recently done (week or two ago) and should be pretty painless.  Need to move forward to 0.17.1 / master and associated dependencies.

[2020-09-08 20:18] travis-minke-sap commented on #48
/assign @travis-minke-sap

[2020-09-08 20:52] #48 closed

[2020-09-11 19:10] AceHack opened #50 "Please create releases for community testing"
I would like to test this without having to build from source

[2020-09-14 18:47] travis-minke-sap opened #52 "Improve Dispatcher Naming To Avoid Conflicts"
Currently the "dispatcher" deployments are named by convention based on the KafkaChannel's Namespace/Name values.  Since we're also limited to 63 char DNS safe K8S names we have truncation logic in place.  Therefore, IF there are multiple namespaces with long names which only differ after the first 20 chars, AND there are multiple KafkaChannels in those namespaces with long names which only differ

[2020-09-14 18:48] travis-minke-sap commented on #52
/assign @eric-sap

[2020-09-15 18:57] #52 closed

[2020-09-16 16:12] travis-minke-sap commented on #50
Yeah - this is on our radar - we're still ramping up this implementation to be more official.  stay tuned - hopefully soon (we want/need the same thing for our own internal usage as well) - thanks for your patience!

[2020-09-18 09:07] aliok opened #57 "Pass pod names as env var in deployments for logging purposes"
**Problem**
With https://github.com/knative/pkg/pull/1714, pod names passed as env vars are used in logging.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Pod name passed as env vars properly to pods in deployments.

**Time Estimate (optional):**
0.125

**Additional context (optional)**
Ref impl: https://gith

[2020-09-30 10:59] aliok opened #65 "Umbrella issue - KafkaSource storage version upgrade"
**Problem**
Need to update KafkaSource storage version to v1beta1.

Moved from https://github.com/knative/eventing-contrib/issues/1394

Relevant work is tracked here.

- [ ] Upgrade tests: https://github.com/knative-sandbox/eventing-kafka/issues/67
- [ ] Make v1beta1 the stored version: https://github.com/knative-sandbox/eventing-kafka/issues/68
- [ ] Remove v1alpha1 API shape: https://github.com/

[2020-09-30 10:59] aliok opened #66 "Remove KafkaSource v1alpha1 API shape"
Remove KafkaSource and KafkaBinding v1alpha1 API shape as written here: https://github.com/knative/eventing-contrib/pull/1504#pullrequestreview-474244750

Part of umbrella issue, https://github.com/knative-sandbox/eventing-kafka/issues/65

[2020-09-30 11:03] aliok opened #67 "Upgrade tests for KafkaSource"
We need to implement upgrade tests for KafkaSource and KafkaBinding so that in the future we can change the storage version to v1beta1 from v1alpha1.

Best idea is to keep eventing at latest release and only changing the eventing-kafka version. We can in the future run the tests again with eventing head too.

Part of umbrella issue, #65

[2020-09-30 11:05] aliok opened #68 "Make v1beta1 storage version for KafkaSource and KafkaBinding"
Make v1beta1 storage version for KafkaSource and KafkaBinding

Existing WIP PR: https://github.com/knative/eventing-contrib/pull/1504

Part of umbrella issue, #65

[2020-09-30 11:18] aliok opened #69 "KafkaSource to implement `krshapedlogic`"
**Problem**
As suggested here: https://github.com/knative/eventing-contrib/issues/1332#issuecomment-649526208

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think thi

[2020-09-30 11:40] aliok opened #70 "Umbrella issue - KafkaChannel storage version upgrade"
**Problem**
Need to update KafkaChannel storage version to v1beta1.

Moved from https://github.com/knative/eventing-contrib/issues/1396

Relevant work is tracked here.

- [x] Upgrade tests: https://github.com/knative-sandbox/eventing-kafka/issues/72
- [x] Make v1beta1 the stored version: https://github.com/knative-sandbox/eventing-kafka/issues/73
- [x] Remove v1alpha1 API shape: https://github.com

[2020-09-30 11:40] aliok opened #71 "Remove KafkaChannel v1alpha1 API shape"
Remove KafkaChannel v1alpha1 API shape as written here: https://github.com/knative/eventing-contrib/pull/1504#pullrequestreview-474244750

Part of umbrella issue, https://github.com/knative-sandbox/eventing-kafka/issues/70

[2020-09-30 11:42] aliok opened #72 "Upgrade tests for KafkaChannel"
We need to implement upgrade tests for KafkaChannel. So that, when in the future we change the storage version to v1beta1 from v1alpha1, we will have things tested.

Best idea is to keep eventing at latest release and only changing the eventing-kafka version. We can in the future run the tests again with eventing head too.

Part of umbrella issue, #70

[2020-09-30 11:43] aliok opened #73 "Make v1beta1 storage version for KafkaChannel"
Make v1beta1 storage version for KafkaChannel

Example WIP PR: https://github.com/knative/eventing-contrib/pull/1504

Part of umbrella issue, #70

[2020-09-30 19:52] travis-minke-sap commented on #46
/assign @eric-sap

[2020-09-30 20:20] #46 closed

[2020-10-01 15:05] runzexia opened #75 "use knative/pkg utils"
https://github.com/knative/eventing/issues/2884
/assign

[2020-10-01 18:57] travis-minke-sap commented on #37
/assign @travis-minke-sap

[2020-10-02 20:58] #37 closed

[2020-10-05 16:48] matzew opened #79 "Add document on users of the Kafka components"
**adoption of Knative Kafka**

Let's have a document on the repo that shows users of the Knative Kafka component:

* `KafkaChannel`
* `KafkaSource`

[2020-10-07 14:32] travis-minke-sap commented on #4
/reopen

[2020-10-07 14:33] travis-minke-sap commented on #4
/remove-lifecycle stale

[2020-10-07 15:59] #57 closed

[2020-10-07 16:20] phamilton commented on #8
/close

[2020-10-07 16:20] #8 closed

[2020-10-08 14:15] mattmoor commented on #4
/remove-lifecycle stale

[2020-10-08 16:25] travis-minke-sap commented on #50
We're targeting v0.19.0 as the first official release of the `distributed` KafkaChannel implementation.  This will also be the first release of the original `eventing-contrib/kafka` implementations (channel/source/etc) from the eventing-kafka repository.

Until that time we now have nightly builds in place if anyone needs a jumpstart.
https://console.cloud.google.com/storage/browser/knative-nightl

[2020-10-08 21:20] travis-minke-sap commented on #26
/remove-lifecycle stale

[2020-10-08 21:23] travis-minke-sap commented on #28
/remove-lifecycle stale

[2020-10-08 21:24] travis-minke-sap commented on #15
/remove-lifecycle stale

[2020-10-08 21:24] travis-minke-sap commented on #23
/remove-lifecycle stale

[2020-10-08 21:24] travis-minke-sap commented on #24
/remove-lifecycle stale

[2020-10-13 11:42] pierDipi opened #98 "[consolidated] Dispatcher deployment readonly"
**Problem**
The dispatcher deployment updates the status of the KafkaChannel and every update needs to be done by the leader and replicas don't receive informer updates, since we use only `ReconcileKind`.
This behavior [breaks dispatcher horizontal scalability](https://github.com/knative/eventing-contrib/issues/1556) and if there are multiple replicas of a dispatcher the information that is in the

[2020-10-13 15:55] #75 closed

[2020-10-14 13:07] lionelvillard opened #105 "[consolidated] The channel dispatcher does not inherit the main context"
**Describe the bug**
The channel dispatcher does not inherit the main context when creating consumer group, preventing subscribers to gracefully shut down

 **Expected behavior**
The channel dispatcher should inherit the main context

 **To Reproduce**

 **Knative release version**
HEAD

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-10-15 10:20] pierDipi opened #106 "Knobots automation"
**Problem**
There is no automation in this repo.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
Developer

[2020-10-15 10:23] pierDipi commented on #106
/assign

[2020-10-15 10:28] pierDipi commented on #106
https://github.com/mattmoor/knobots-actions/pull/11

[2020-10-15 13:09] lionelvillard opened #108 "[consolidated] KafkaSource: expose Kafka configuration"
**Problem**
The Kafka configuration is currently being hardcoded in the KafkaSource adapter. For instance, the commit policy is currently (assuming https://github.com/knative-sandbox/eventing-kafka/pull/100 is merged) set to `autocommit` every 1s, compromising speed vs duplicate events. Some applications might want the opposite compromise.

**[Persona:](https://github.com/knative/eventing/blob/mas

[2020-10-20 09:01] devguyio opened #116 "Upgrading v0.18.1 fails if a KafkaChannel already exists"
**Describe the bug**
Given:

1. An existing knative cluster
1. An existing Knative Kafka channel with an older version (e.g. `v0.17.5`)

Applying the `v0.18.1` Kafka channel yaml fails with following error and the upgrade fails
[code]

 **Expected behavior**
Applying the yaml should succeed and upgrade should complete successfully

 **To Reproduce**
1. Install Knative Eventing and Knative Kafka Ch

[2020-10-20 12:32] pierDipi commented on #26
This is similar to https://github.com/knative/eventing/issues/3094.

/assign

[2020-10-20 15:07] mattmoor commented on #106
That PR is merged

[2020-10-20 15:07] #106 closed

[2020-10-20 17:26] devguyio opened #118 "Provide at least once delivery guarantees in Kafka Channel"
**Problem**
Given the eventing contrib  KafkaChannel, with no subscriber based offset, it is impossible to provide at least once delivery guarantees. Retries and dead letter queue are the user's best options.

[2020-10-21 15:27] AceHack opened #126 "eventing.knative.dev/scope: namespace does not work with distributed kafka channel"
**Describe the bug**
In the previous version eventing.knative.dev/scope: namespace would allow me to connect to different Kafka clusters at least at the namespace level.

 **Expected behavior**
The ability to connect to more than one kafka cluster with knative.

 **To Reproduce**
Add the eventing.knative.dev/scope: namespace to a kafka channel (distributed) and nothing happens.

 **Knative release

[2020-10-21 17:12] lionelvillard opened #127 "[KafkaSource] Conversion webhook drops conditions"
**Describe the bug**
The conversion webhook from v1beta1 to v1alpha1 (stored version) does not preserve conditions, leading to infinite reconciling loop

 **Expected behavior**
A clear and concise description of what you expected to happen.
All conditions should be carried over.

 **To Reproduce**
Steps to reproduce the behavior.
Install a v1beta1 KafkaSource and dump the logs

 **Knative release

[2020-10-21 17:14] lionelvillard commented on #127
/assign

[2020-10-22 11:57] devguyio opened #134 "Consolidated KafkaChannel marks Subscriptions Ready too early"
**Describe the bug**
[The Channel spec](https://github.com/knative/eventing/blob/master/docs/spec/channel.md) requires

There is, however, a delay between the subscribers status being ready in the KafkaChannel status, and the startup of the partition consumer for the topic.

Any events sent to the channel during the window are not being sent to subscribers.

 **Expected behavior**
kafka-channel-di

[2020-10-22 12:15] devguyio commented on #134
/assign

[2020-10-22 13:34] vaikas commented on #134
Are you going to have both the Channel Reconciler and Dispatcher Reconciler updating the status fields? I'd be little concerned about having two controllers fighting over the Status fields.

[2020-10-22 13:37] pierDipi commented on #134
Related to status updates: https://github.com/knative-sandbox/eventing-kafka/issues/98.

[2020-10-22 13:55] lionelvillard commented on #134
Also related to https://github.com/knative/eventing/issues/3281.

[2020-10-22 13:57] pierDipi opened #135 "Nop reconciliations should not emit events."
Related to https://github.com/knative/pkg/issues/1520

[2020-10-22 16:00] lionelvillard opened #137 "[KafkaSource] Enable scaling via scale subresource"
**Problem**
The eventing autoscaler is currently tightly-coupled with the KafkaSource implementation, making both components difficult to update. Instead the eventing autoscaler should only be interacting with the KafkaSource API

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that wo

[2020-10-22 16:02] matzew commented on #134
also related: https://github.com/knative/eventing/pull/4280

[2020-10-22 16:32] #127 closed

[2020-10-23 15:30] eric-sap commented on #24
PR #140 contains a fix that may have fixed this issue, but a little more research is necessary to say that for certain.  In particular, PR #140 fixes the conformance tests for the distributed channel, which verify a tracing tree that was not correct without the traceparent header, but that may not be the only thing required to resolve this issue.

[2020-10-27 19:27] lionelvillard commented on #118
@devguyio what do you mean "with no subscriber based offset"? Each subscriber gets its own consumer group. Isn't this enough?

[2020-10-27 21:21] aliok opened #145 "Fuzzing test for KafkaBinding conversion"
**Problem**
https://github.com/knative-sandbox/eventing-kafka/pull/128 fixes KafkaSource conversion and also introduces some nice fuzzing tests for that conversion.

The KafkaBinding conversion is fixed on [0.17](https://github.com/knative/eventing-contrib/pull/1651), [0.18](https://github.com/knative/eventing-contrib/pull/1652) and [master](https://github.com/knative-sandbox/eventing-kafka/pull/1

[2020-10-28 08:44] #145 closed

[2020-10-29 09:44] #26 closed

[2020-10-29 11:34] devguyio commented on #134
Chat thread summary

@devguyio

@vaikas

https://github.com/knative/eventing/blob/master/docs/spec/channel.md#channel-subscriber-status

@devguyio

[2020-10-29 11:49] devguyio commented on #134
**Proposed Solution:**
1. Kafka Dispatcher owns the `Channel.Status.SubscribableStatus` object.
1. It makes sure that the subscription shows up in the `SubscribableStatus` once the consumer is ready, and taken out once it's not.
1. Above change can either be a patch, or an update if the there are no other reconcilers will step on each other toes
1. Leader Election should be enabled to solve the ra

[2020-10-29 12:04] antoineco commented on #134
Does it mean the entire subscription is invalidated if _1_ replica becomes unavailable? If yes, why is that so? (disclaimer: I'm not familiar with the internals of that channel)

[2020-10-29 12:11] vaikas commented on #134
FYI, threw something concrete around IMC to share:
https://github.com/knative/eventing/pull/4435

[2020-10-29 12:42] devguyio commented on #134
@antoineco sorry I wrote the wrong proposition :D fixed now.

does it make sense now?

[2020-10-29 12:57] antoineco commented on #134
Under what circumstances does the "consumer" leave the Kafka cluster? When the subscription is deleted? If yes, how is it relevant how many replicas the dispatcher has?

[2020-10-29 13:51] devguyio commented on #134
@antoineco the Consumer can leave in case a rebalance on the Kafka server takes place, or a network glitch or a disconnection. In such case, there can be other consumers in other replicas dispatching messages for the same subscription. So when we've two replicas, 1 & 2, and 2 gets killed, OOMed, ejected, etc, dispatcher 1 should know that it's authorized now no make the reflect the subscription re

[2020-10-29 14:11] lionelvillard commented on #134
In the case of Kafka, I would consider a subscriber to be ready when its associated consumer group has been created. It means that the partition offsets has been initialized and for now on all events published to channel will be consumed by the subscriber.

I wonder if the control plane is the right place to create the consumer group (if not already the case). The benefit of this solution is there

[2020-10-29 14:25] antoineco commented on #134
@lionelvillard Does the existence of a consumer group guarantees that this consumer group is currently consuming events from the topic? Could the consumer group be created, then the consumer terminates, and nothing is actually interacting with Kafka? (disclaimer: like I said, I'm not familiar with the internals of this channel)

@devguyio I think it makes sense yes. I though there was something Ka

[2020-10-29 14:45] antoineco commented on #134
Makes sense, thanks for clarifying!

[2020-10-29 17:20] lionelvillard commented on #118
I talked to @devguyio and it seems we are in agreement that for now the only thing we need is making retries the default to at least support broker upgrades. Later on we'll provide way to customize the behavior.

[2020-10-29 21:15] travis-minke-sap opened #152 "Distributed KafkaChannel Uses Cross-Namespace OwnerReferences"
**Describe the bug**
The "distributed" KafkaChannel implementation includes cross-namespace OwnerReferences for the Dispatcher Deployment/Service (from knative-eventing to the KafkaChannel's namespace).  This is not allowed by Kubernetes and can result in potential unintended Garbage Collection.  See the following for a description of the issue.  While this isn't very common I have (afaik) seen th

[2020-10-29 21:16] travis-minke-sap commented on #152
/assign

[2020-10-31 01:16] #5 closed

[2020-11-02 15:55] matzew opened #157 "Common Auth Config option for Kafka"
# Motivation
Provide a common AUTH/Config approach for the different Knative Kafka components.

## Current Kafka auth config story

The different Knative Kafka components have different AUTH configuration options:

- KafkaSource:
  - SASL/TLS via API on the SPEC
- KafkaChannel:
  - none
- SAP Kafka Channel:
  - ConfigMap and use of Secrets
- KafkaBroker:
  - none
- KafkaSink:
  - none

The overall

[2020-11-02 16:02] matzew commented on #157
Going with the "global" config for all the components, would have the benefit, that the same API would work for the `Kafka Broker` as well... But I not sure if mixing different configuration concerns is really a good idea :-)

[2020-11-02 16:18] vaikas commented on #157
Maybe I didn't see it here, but another option is to create a proper CRD (I see you using ConfigMap in all the examples) that holds the deets about the required connection parameters. If we do it as a CRD say, KafkaConnection then we can do proper validation, defaulting, etc. over a configmap. Then we could embed that in other constructs, so for example, you could create a KafkaBrokerConfig CRD th

[2020-11-02 16:27] lionelvillard commented on #157
One thing to consider is not all Kafka backed implementations have the same set of configuration parameters. For instance, which there is a lots of commonality between the Sarama library and the Java Kafka library, there are also differences. A better name for `KafkaConnection` might be `KafkaSaramaConnection` and `KafkaJavaConnection` (to mention only those 2 impls).

[2020-11-02 16:30] lionelvillard commented on #157
I wonder if we should recommend the use of the `config` duck type across all Knative. For instance, CouchDBSource defines `credentials`, GitHubSource defines a bunch of properties under spec. Food for thoughts :-)

[2020-11-02 17:01] matzew commented on #157
[code]

Not always using just ConfigMaps - I think a very focused type would be the `authConfig`, using duck. and that would point to a well defined `Secret`.  Rather than going w/ some overhead of the different "Kafka impl-lib" CRD?

[2020-11-04 10:24] #152 closed

[2020-11-05 14:25] matzew commented on #118
sounds good to me on the retires!

[2020-11-05 14:32] lionelvillard commented on #118
I also want to retire :-)

[2020-11-05 16:09] #4 closed

[2020-11-06 16:56] lionelvillard opened #171 "[consolidated] Namespaced KafkaChannel is broken"
**Describe the bug**
When creating a namespaced KafkaChannel, the dispatcher crashes with this error:

[code]

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.
Same steps as https://github.com/knative/eventing-contrib/issues/1659

 **Knative release version**
0.18.4, master

 **Additional context**
Add any ot

[2020-11-06 18:58] #171 closed

[2020-11-06 21:47] lionelvillard opened #174 "KafkaSource dispatcher crashes when sink is deleted (and session closed?)"
**Describe the bug**

Getting this error:

[code]

 **Expected behavior**
A clear and concise description of what you expected to happen.

no crash

 **To Reproduce**
Steps to reproduce the behavior.

TDB. In a nutshell, create a KafkaSource, scale it to few pods, kill the sink and observe the crash.

 **Knative release version**

 **Additional context**
Add any other context about the problem her

[2020-11-09 20:13] lionelvillard commented on #157
We don't have to do the "Kafka impl-lib" CRD right now or even ever. All depends on the tooling.

I personally prefer Proposal 2, except instead of `authConfig` I would name it `config`.

[2020-11-10 02:00] lionelvillard opened #178 "[consolidated] Inflight requests are cancelled when session is closed"
**Describe the bug**
Getting this error when session is closed:

[code]

 **Expected behavior**
No error under normal behavior (request time less than session timeout)

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-11-10 07:37] #178 closed

[2020-11-11 11:29] aliok commented on #116
Fixed for 0.18 with https://github.com/knative/eventing-contrib/pull/1660
Fixed for master (0.19) with https://github.com/knative-sandbox/eventing-kafka/pull/168

@devguyio feel free to close this ticket.

[2020-11-12 12:52] matzew commented on #157
@vaikas @lionelvillard  for Serving there is also interest in doing some "config CRDs"

https://github.com/knative/serving/issues/8114

[2020-11-12 15:09] travis-minke-sap commented on #50
Closing issue as v0.19.0 has been released...

https://github.com/knative-sandbox/eventing-kafka/releases

channel-distributed.yaml

/close

[2020-11-12 15:09] #50 closed

[2020-11-12 16:43] #137 closed

[2020-11-12 19:27] matzew opened #188 "Kafka client refactoring"
Refactor to have some more commonly shared "kafka client" code

## Admin client for the channel controller

* https://github.com/knative-sandbox/eventing-kafka/blob/1a46a74b179207ff6217484089cf5970e0716066/pkg/channel/consolidated/reconciler/controller/resources/client.go#L23-L28
* https://github.com/knative-sandbox/eventing-kafka/tree/c3e6f18ffe5dd67b36dcb42b7b3e95838e4ae4f8/pkg/channel/distribut

[2020-11-16 19:09] lionelvillard opened #195 "[mtsource] KafkaSource st adapter crashes when config is invalid"
**Describe the bug**
KafkaSource dispatcher crashes when config is invalid, for instance when the bootstrap server URL is wrong or SASL/TLS is misconfigured.

 **Expected behavior**
A clear and concise description of what you expected to happen.
No crash

 **To Reproduce**
Steps to reproduce the behavior.
Create KafkaSource pointing to a non-existent broker

 **Knative release version**

 **Additi

[2020-11-16 19:10] lionelvillard commented on #195
The controller should check if the spec/config is valid, for instance by accessing the broker using the admin client

[2020-11-18 06:43] matzew opened #200 "Improve SASL for Source"
**Problem**
The source only supports SASL plain

**Exit Criteria**

support of `scram-sha-512`

**Time Estimate (optional):**
1-2

**Additional context (optional)**
Add any other context about the feature request here.

[2020-11-18 14:37] lionelvillard commented on #126
Related to https://github.com/knative-sandbox/eventing-kafka/issues/157.

@AceHack assuming https://github.com/knative-sandbox/eventing-kafka/issues/157 gets resolved by allowing specifying the config at the KafkaChannel level, are you ok if we deprecate `eventing.knative.dev/scope` ?

[2020-11-18 20:50] lionelvillard commented on #157
@travis-minke-sap @eric-sap, would you be ok to extend the KafkaChannel API as follows:

[code]

The referenced object could be anything and implementation dependent (ie. not part of the API).

Explicitly referencing the Kafka configuration in the channel allows for multiple Kafkas per k8s cluster. I believe the distributed impl relies on labels to provide this capability. Correct me if I'm wrong.

[2020-11-18 21:30] travis-minke-sap commented on #157
The distributed KafkaChannel implementation doesn't currently support connecting to multiple Kafkas.  For EventHub usage it does aggregate/pool multiple SASL auths to work around Azure limitations, but the user cannot control which Topics go to which Kafka/EventHubNamspace as they are just round robin'd.  Other usages (standard kafka and custom sidecar) only allow for a single kafka/auth.

Moving

[2020-11-19 14:25] matzew commented on #200
For the `Net.Sasl` we should add a field for "sasl type".

Current default is PLAIN.   That does not work w/ Strimzi (it does require `SCRAM-SHA-512` on the broker).

I'd suggest we align the code w/ the SASL for the channel:
* `SCRAM-SHA-512`
* `SCRAM-SHA-256`
* `PLAIN` (implicit (unfortune) default)

see also here for some _refactorings_ https://github.com/knative-sandbox/eventing-kafka/pull/205

[2020-11-19 14:28] lberk commented on #200
/assign

[2020-11-19 17:01] eric-sap commented on #28
"high-availability" is the default behavior now, unless "sharedmain.WithHADisabled" is added (or the "--disable-ha" argument is added to the command-line args of the deployment), so I don't believe there's anything left to do for this issue explicitly.

Note that the distributed channel's dispatcher (and receiver) do not currently use the sharedmain functionality, and as such do not use the high-a

[2020-11-19 21:37] #28 closed

[2020-11-21 15:42] travis-minke-sap opened #215 "KafkaChannel Topic Deletion Handling"
**Problem**
It has been asked whether it is desirable to delete Kafka Topics when KafkaChannels are finalized as is currently implemented.

On the one hand, the Topic can be considered a sub-resource whose creation is driven/owned by the KafkaChannel reconciliation, and should thus have it's lifecycle completely owned by the controller.  On the other hand, it might be that users are trying to simp

[2020-11-23 09:49] slinkydeveloper commented on #215
To me it sounds like we should keep as is, as **default** behaviour. The reason is that the user must not rely on the KafkaChannel internals, otherwise we're leaking these details.

On the other hand, I see how this could be useful, so we could have an option to allow it, but IMO it should be "hidden" like in some ConfigMap or with some annotation on the KafkaChannel resource, but definitely not e

[2020-11-23 15:19] pierDipi opened #218 "[flaky] pkg/channel/distributed/common/metrics: TestMetricsServer_Report"
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative-sandbox_eventing-kafka/132/pull-knative-sandbox-eventing-kafka-unit-tests/1330891148914331648
[code]

[2020-11-23 15:47] lionelvillard opened #219 "Multitenant KafkaSource"
**Problem**
There is no multi-tenant KafkaSource to be used in multi-tenant environment.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve

[2020-11-23 18:45] lionelvillard opened #222 "Expose Sarama metrics through Prometheus"
**Problem**
Sarama metrics are not exposed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any

[2020-11-24 14:42] devguyio opened #229 "Create a KafkaAdminSource"
**Problem**
KafkaSource is meant for ingressing Kafka messages that live inside Kafka, however there's another category of Kafka events which represent Kafka administration and run time aspects such as TopicCreated, or ConsumerGroupCreated etc.

Some of those can probably be polled as Kafka metrics? https://kafka.apache.org/documentation/#monitoring or using the admin API?

To do that, one can ima

[2020-11-24 14:46] devguyio commented on #229
/assign

[2020-11-24 23:09] patrickriordan commented on #215
I'm trying to use knative eventing like travis-minke-sap mentioned and this feature would be great to have.

I want to let knative consume from an existing kafka topic without creating an additional one specifically for the broker or channel. It seems like having two topics that contain the same data would be extra overhead and cause performance issues down the line.

So pointing the kafka-channel

[2020-11-24 23:28] lionelvillard commented on #215
Definitively something we need to support. Not the first time I hear people asking for it.

[2020-11-25 07:48] slinkydeveloper commented on #215
For that use case you need to use `KafkaSource`, `KafkaChannel` is not designed for it

[2020-11-25 08:40] pierDipi commented on #215
People can use `KafkaSource` and `KafkaSink` for those use cases.

[2020-11-25 18:19] patrickriordan commented on #215
Don't I lose the trigger functionality that comes with broker/trigger if I only use a source?  Is there anyway to keep the broker/trigger functionality without KafkaSource to Broker (which requires 2 kafka topics)? I haven't looked into KafkaSink yet.

I guess I could do filtering in the service and just setup a source for each service that wants to read from the kafka topic?

Sorry if this isn't

[2020-11-25 18:52] pierDipi commented on #215
I thought we were talking about the KafkaChannel, but yes, that functionality is lost.

I think the Broker/Trigger model as it's designed and used can't expose implementation details (like Kafka topics) or the underlying channel.

Yes, you can do that, or maybe `KafkaSource` can support filtering events before sending them to a subscriber, which seems what you want.

If you can open an issue would

[2020-11-25 19:47] devguyio opened #232 "Add conformance and/or e2e tests for KafkaChannel subscription readiness after subscription removal"
**Problem**
Create an e2e test that remove a subscription and validates that it gets removed from the channel `status.subscribers'.

**Additional context (optional)**
Current [channel status test](https://github.com/knative/eventing/blob/master/test/conformance/channel_status_subscriber_test.go) is an conformance test that only validates the subscription creation case, not the deletion

[2020-11-25 22:38] patrickriordan opened #233 "Is there any way to use Broker/Trigger without creating additional Kafka topics?"
**Problem**

In my cluster I already have a Kakfa topic managed through a non-knative system. **I want a Broker/Trigger setup to read events off that kafka topic and filter them to different services, BUT ideally I don't want to have the overhead of an extra kafka topic** just to copy the event into the Broker system.

This is a follow up from https://github.com/knative-sandbox/eventing-kafka/issu

[2020-11-25 23:18] lionelvillard commented on #233
/cc @aslom

[2020-11-26 09:58] slinkydeveloper commented on #215
I recall this was discussed a while ago, cc @lionelvillard

[2020-11-30 14:30] lberk opened #240 "KafkaSource client creation should unit test multiple bootstrap servers being parsed"
**Describe the bug**
Currently the NewConfig unit test doesn't properly test parsing multiple values for the bootstrap server values, we should do that.

 **Expected behavior**
More than one bootstrapserver being passed should be tested and verified, both passing and failure cases

 **To Reproduce**
[code]
this should include
[code]
or something similar

/label kind/good-first-issue
/label area/te

[2020-11-30 15:14] #200 closed

[2020-11-30 16:59] travis-minke-sap commented on #222
Agreed that this would be good - it's been on our (SAP) radar regarding the "distributed" KafkaChannel.  We have the beginnings of this (single metric) here...

https://github.com/knative-sandbox/eventing-kafka/blob/master/pkg/channel/distributed/common/metrics/stats_reporter.go

[2020-12-01 12:36] pierDipi opened #245 "[Consolidated] Dispatcher should implement Finalizer to properly clean up resources"
### Background
Currently the dispatcher has a bunch of caches that it populates when reconciling a channel, those caches include the Kafka Sarama consumers. However, those caches don't get updated when the channel or subscriptions gets deleted. 

### Proposed Changes
1. Implement FinalizeKind and ObserveFinalizedKind
1. Cleanup all the caches in the dispatcher accordingly
    1. hostToChannelMap

[2020-12-01 12:42] #98 closed

[2020-12-01 12:44] devguyio commented on #245
/assign

[2020-12-02 10:49] pierDipi commented on #222
It's probably worth considering contributing upstream using opentelemetry (it's not GA though), there is sarama integration with only the tracing bits: https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/github.com/Shopify/sarama/otelsarama

[2020-12-02 19:51] #218 closed

[2020-12-02 21:23] n3wscott opened #250 "Use GOPATH hacks to codegen anywhere."
Please see https://github.com/knative/eventing/pull/4621 or https://github.com/knative/serving/pull/10245 for an example.

[2020-12-03 21:25] eric-sap opened #254 "Errant "!!merge" strings in channel yaml"
**Describe the bug**

There are some "!!merge" strings in the channel yaml (for both channel-distributed.yaml and channel-consolidated.yaml) that are causing invalid YAML errors when attempting an installation.

**Expected behavior**
The channel-distributed.yaml and channel-consolidated.yaml files should be valid YAML

 **To Reproduce**
These are the problematic lines:
[code]

 **Knative release v

[2020-12-04 04:29] #250 closed

[2020-12-07 16:52] travis-minke-sap opened #260 "Common Sarama Client Library"
**Problem**
The `distributed` KafkaChannel implementation provides additional functionality in it's `AdminClient` interface for supporting Azure EventHubs and "custom sidecar" implementations.  Additionally, it provides utilities for creating Producer / Consumer groups which are largely pass-through's but round-out the library to include all Sarama "client" creation.  It would be beneficial if bot

[2020-12-07 16:52] travis-minke-sap commented on #260
/assign @travis-minke-sap

[2020-12-07 21:03] lionelvillard opened #261 "Rename kafka-controller-manager to kafka-source-controller"
**Problem**
Now that the source is installed in knative-eventing, it'd be nice if the controller names were consistent.

[2020-12-08 16:20] #174 closed

[2020-12-09 16:23] matzew opened #268 "Common util for SaramaConfig"
**Problem**

the `distributed` channel has a good way to configure Sarama via values from a Configmap.

We want to move that to a common util, to be used in both: `distributed` and `consolidated`

It will provide a common way of handling (watching/parsing) of ConfigMap with full Sarama.Config. (and ability to merge in TLS/SASL info from `consolidated`)
common code for the sarama config

[2020-12-09 16:39] matzew commented on #268
/assign @matzew

[2020-12-11 12:04] matzew commented on #261
I think we wanna make sure we than keep the deployment with the old name, set replica to `0` for some sort of migration

[2020-12-11 12:22] aliok commented on #268
/assign
/unassign matzew

[2020-12-14 17:49] lionelvillard opened #276 "Document guidelines around scaling"
**Problem**
From Slack:

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any other context about

[2020-12-15 17:45] ctron opened #279 ""too big" messages get dropped silently"
**Describe the bug**

A message that is considered "too big" is getting dropped silently. Only in the logs you see the following message:

[code]

The HTTP request to the sink still reports:

[code]

 **Expected behavior**

Either the message should be accepted, or the return value of the sink should indicate an error.

 **To Reproduce**

Post a message that is "too big" to a `KafkaChannel`.

 **K

[2020-12-16 01:50] #42 closed

[2020-12-16 10:18] devguyio opened #280 "[consolidated] Update channel's status.subscribers based on the dispatcher propagated consumer readiness"
**Problem**
The solution that was proposed in #182 did not fix the problem of adding the subscriptions to the channel only when the corresponding consumer in the dispatcher is ready and due to a lag in Sarama between the consumer group creation and starting the consumer, it seems there's no other way than to propagate the consumer readiness from the dispatcher

**Exit Criteria**
A measurable (bina

[2020-12-18 08:07] slinkydeveloper commented on #279
On one hand, I should point out that CloudEvents payloads are meant to carry small data payloads https://github.com/cloudevents/spec/blob/v1.0.1/spec.md#size-limits

Given that, this error is weird, because the message should be rejected... Did you checked your Kafka config for some "maximum record size" conf or something like that?

[2020-12-18 09:05] ctron commented on #279
True, however: if a message gets rejected, then it shouln't return `202`.

The kafka channel is pretty standard:

[code]

[2020-12-18 09:06] slinkydeveloper commented on #279
I'm talking about the actual kafka instance used by the KafkaChannel, does it has a record limit?

[2020-12-18 16:07] ctron commented on #279
No special settings.

We using 0.19.1.

From the commit of this PR I cannot see in which version this landed. So is 0.19.1 too old?

[2020-12-18 16:43] lionelvillard commented on #279
@ctron yes 0.19.1 is too old for your particular use case. The fix landed in 0.19.3, which was cut 3 days ago.

We could definitively do better with the release notes. Today is really hard to know what is fixed in patch releases. Pinging @n3wscott for help.

[2020-12-25 01:35] itsmurugappan opened #289 "Provide option for configuring initial offset in kafka source"
**Problem**
Continuing the discussion on this [issue](https://github.com/knative/eventing-contrib/issues/1492) in the new repo.

Currently the kafka source starts from the newest offset. With this option the kafka source needs to be created before the producer sends message. This is not the case in most of the kafka use cases as producer is independent of the consumer. In these scenarios initial o

[2020-12-25 01:42] itsmurugappan commented on #289
* What happens if a consumer group already exists, say with offset 100, but the user configures in kafka source an offset, say 200? - `The 200 will be ignored, as this is the initial offset`

* What happens if, similar to above, the user doesn't configure the offset first, then updates the kafka source cr and configures the offset with a value higher than the actual processing status - `The offset

[2021-01-05 10:36] #268 closed

[2021-01-05 18:07] lionelvillard commented on #157
Here my current thoughts.

Yes that's the main goal, being able to connect to multiple Kafka clusters from a single k8s cluster.

That's a great idea! Definitely something we should support

all Knative channels and beyond, sources, bindings, brokers, etc... More on this topic soon.

When the annotation is set to `namespace`, a Kafka dispatcher is created in the same namespace as the channel and l

[2021-01-05 19:12] lionelvillard commented on #157
### Proposal 3: Leverage KafkaBinding
---

TL;DR: Use KafkaBinding to represent Kafka authorization and config parameters, and binding. Kafka resource implementations (Channel dispatcher, Source adapter, Sink receiver, Broker) look for the matching binding and applies it.

**Examples**

Binds all KafkaChannels to `config-kafka`:

[code]

Binds all channel labeled `team:a` to `config-kafka-team-a`:

[2021-01-05 23:13] itsmurugappan opened #294 "make istio annotation optional"
**Problem**

The kafka receiver adapter always has the istio proxy side car, currently the annotation `"sidecar.istio.io/inject"` is always set to true. This feature would make it opt in by using the annotation mentioned in the kafkasource

Example
[code]

[2021-01-05 23:19] travis-minke-sap commented on #157
fwiw (not much ; )...  I haven't looked at the "bindings" implementations much, but the above seems really cool - I like the flexibility for the user to control the granularity of the configuration.  Probably you're already aware and it likely doesn't impact this but the ConfigMap will reference a Secret with the Kafka Auth - wasn't sure if there was any reason to de-couple them and specify both i

[2021-01-07 09:14] slinkydeveloper commented on #289
That sounds better and it's trivially implementable, because the library takes care of it. I'm ok with that solution, although I still find weird how this is represented in the CRD semantic.

[2021-01-07 14:09] lionelvillard commented on #289
Related to https://github.com/knative-sandbox/eventing-kafka/issues/157. The idea is to be able expose all Sarama config parameters, via a ConfigMap, including the initial offset.

[2021-01-07 14:16] lionelvillard commented on #15
related to https://github.com/knative-sandbox/eventing-kafka/issues/157.

/remove-lifecycle stale.

[2021-01-11 07:58] aliok opened #298 "Use Sarama field of config-kafka in consolidated channel and in source"
**Problem**
With https://github.com/knative-sandbox/eventing-kafka/pull/286, the Sarama config building is unified.

The builder builds the config from defaults, config-kafka and KafkaAuthConfig.

However, we don't leverage the builder fully in consolidated channel and in source since we don't pass the Sarama YAML in config-kafka.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/

[2021-01-11 08:04] aliok opened #299 "Leverage eventing-kafka field of config-kafka in consolidated channel and source as defaults"
**Problem**
Distributed channel uses some info available in config-kafka: https://github.com/knative-sandbox/eventing-kafka/blob/master/config/channel/distributed/300-eventing-kafka-configmap.yaml

Specifically, `receiver`, `dispatcher` and `kafka`.

Perhaps not all but some of these would also be applicable for consolidated channel as the defaults.

FInding out what's applicable is also part of t

[2021-01-11 15:22] lionelvillard opened #300 "[Consolidated] Considering removing eventing.knative.dev/scope support in KafkaChannel"
Copied from https://github.com/knative/eventing-contrib/issues/1524

[2021-01-12 09:15] aliok commented on #298
/assign

[2021-01-13 14:05] lionelvillard commented on #105
/remove-lifecycle stale

[2021-01-14 12:41] zhaojizhuang opened #309 "failed to create cluster admin: kafka: client has run out of available brokers to talk to"
**Describe the bug**
when I try to use kafka follow the step  https://knative.dev/v0.19-docs/eventing/broker/kafka-broker/

broker's status is not ready

[code]

broker YAML as follows:

[code]

Here are some logs from pod `kafka-controller`
[code]

 **Knative release version**
v0.19.0

[2021-01-14 13:03] pierDipi commented on #309
Can you share what's inside the ConfigMap `kafka-broker-config` in the `knative-eventing` namespace?

The key `bootstrap.servers` of the ConfigMap needs to point to a Kafka cluster.
Where is your Kafka cluster running?

[2021-01-14 13:51] pierDipi commented on #309
/assign

[2021-01-14 14:02] lionelvillard commented on #108
/remove-lifecycle stale

[2021-01-14 14:40] zhaojizhuang commented on #309
@pierDipi yeah... You  reminded me, I haven't install kafka cluster... Thanks, I think I find out the solution, I should install kafka first.

[code]

[2021-01-14 14:41] zhaojizhuang commented on #309
I will close this issue, reopen when there is still a problem

[2021-01-14 14:41] #309 closed

[2021-01-14 15:04] pierDipi commented on #309
Awesome! Feel free to propose any suggestions to make our docs clearer.

[2021-01-14 16:45] travis-minke-sap commented on #15
Closing due to recent refactor of distributed kafkachannel's sarama adminclient in PR #297.  That PR removed support for pooling multiple KafkaChannels in the EventHub use case and all admin client types (kafka, azure, custom) are currently restricted to a single Kafka Auth/Secret.  We can always open the appropriate PRs if/when multitenancy or multi-kafka support is tackled.

[2021-01-14 16:45] #15 closed

[2021-01-15 09:54] aliok opened #312 "Use KnCEConnectionArgs in consolidated channel dispatcher and possibly in other places"
**Describe the bug**
There's a `KnCEConnectionArgs` field in consolidated channel dispatcher args, but it is not used anywhere.

 **Expected behavior**
The field is used OR removed.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-01-15 09:54] aliok commented on #312
cc @slinkydeveloper

[2021-01-15 12:27] yuzisun opened #313 "Kafka event source does not work with namespace scoped in memory channel"
**Describe the bug**
We use kafka event source along with the in memory channel in a multi tenant environment, kafka source -> in memory channel -> subscribers. In order to avoid sharing the same imc dispatcher among tenants we are trying to create namespace scoped imc channels, however this does not work as intended and we get HTTP 404 error after switching to namespace scoped imc channel.

[code

[2021-01-15 14:37] lionelvillard commented on #313
Related to https://github.com/knative-sandbox/eventing-kafka/issues/126

[2021-01-15 14:44] pierDipi commented on #313
Can you share IMC dispatcher logs?

[2021-01-15 14:45] pierDipi commented on #313
Not sure why

[2021-01-15 14:47] lionelvillard commented on #313
because I didn't read the issue properly.

[2021-01-15 21:39] achandras opened #315 "Channel names longer than 63 chars may get truncated incorrectly"
**Describe the bug**
A long channel name might end on a "-" when it gets truncated to 63 chars, which is making the channel controller not be able to reconcile the KafkaChannel.

[code]

 **Expected behavior**
The truncated label should be checked to make sure it's not ending on an illegal character.

 **To Reproduce**
We have a KafkaChannel in namespace `0000-flows-test` named `src-chan-out-test-

[2021-01-16 15:05] yuzisun commented on #313
Thanks @pierDipi for reproducing it! Looks the test failed ?

[2021-01-18 13:48] pierDipi commented on #313
It's should be an IMC bug: https://github.com/knative/eventing/issues/4754.

Can you see if there is anything suspicious in the imc-controller logs?

[2021-01-19 08:40] aliok opened #318 "Consolidated channel dispatcher is not getting the changes in config-kafka during runtime"
**Describe the bug**
Consolidated channel dispatcher is not getting the changes in config-kafka during runtime

Main problem: channel dispatcher doesn't get the changes in `config-kafka`
- Create a consolidated channel
- Change stuff in `config-kafka`
- Changes are read by the controller (besides the problems in https://github.com/knative-sandbox/eventing-kafka/issues/393), but not reflected in th

[2021-01-19 11:05] yuzisun commented on #313
@pierDipi imc controller ? I think the imc channel is fine as the ping source works but not kafka source

[2021-01-21 00:58] yuzisun commented on #313
@pierDipi @lionelvillard I found the issue, if I remove the istio sidecar injection from the kafka source pod then it works.

[2021-01-21 07:44] pierDipi commented on #135
/remove-lifecycle stale

[2021-01-21 15:22] lionelvillard opened #323 "[mtsource] Inject logging and tracing configuration into the mtadapter"
**Problem**
K_METRICS_CONFIG and K_LOGGING_CONFIG are not set

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (op

[2021-01-21 15:26] lionelvillard opened #324 "[mtsource] Configurable scheduler"
**Problem**
The scheduler placing virtual pods relies on hard-coded values, such as the number of virtual pods allowed per pod. These values should be configurable.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate

[2021-01-21 15:28] lionelvillard opened #325 "[mtsource] e2e tests"
**Problem**
There are very few tests stressing the KafkaSource and some particular aspect of the MT KafkaSource, like co-location (ie multiple kafkasource in one pod).

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estim

[2021-01-21 15:29] lionelvillard opened #326 "[mtsource] performance and scalability evaluation"
**Problem**
There is no performance and scalability tests targeting the mt source

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Ad

[2021-01-22 16:55] lionelvillard opened #327 "TestNewController test is flaky"
Log:

[code]

[2021-01-25 08:32] larhauga opened #331 "Kafka SASLType not hondored in saramaConfig in kafka distributed mode"
**Describe the bug**

Kafka users that requires different SASL Mechanisms will not honor the configuration in `saramaConfig` due to it being statically set to `PLAIN` method.
This results in users that requires `SCRAM-SHA-256` or `SCRAM-SHA-512` to be denied access to kafka.

The receiver will go in a CrashLoopBackoff due to authentication failure.

 **Expected behavior**
It should be possible to

[2021-01-25 19:01] lionelvillard opened #334 "KafkaSource should not create topics"
**Describe the bug**
When deploying a KafkaSource referencing a topic that does not exist, the topic will be automatically created.

 **Expected behavior**
A clear and concise description of what you expected to happen.

No topic should be created. An error should be propagated to the CR status section

 **To Reproduce**
Steps to reproduce the behavior.
Create a KafkaSource referencing a topic tha

[2021-01-25 21:50] eric-sap opened #335 "An expired token in the kafka-cluster secret causes dispatcher/receiver failures"
**Describe the bug**

The token provided in the kafka-cluster secret for certain SASL brokers has no refresh mechanism and, if expired, causes failures of the dispatcher/receiver pods on startup or following a configuration change.

**Expected behavior**

An expired SASL connection token should not cause the components that use them (dispatcher/receiver) to fail when starting up or changing fields

[2021-01-26 17:39] #331 closed

[2021-01-26 19:59] eric-sap commented on #335
/assign eric-sap

[2021-01-28 20:18] cardil commented on #67
I think this should be modeled similar to eventing and serving upgrade tests. That means upgrading to the latest version from stable and going back.

If we implement migration of API at any point it should do that in that migration period and tests should survive that.

My approach would be to adopt a new upgrade test framework for compose-ability and write some standard pre- post- assertions and

[2021-01-29 09:30] matzew commented on #67
@cardil I agree that using the schema/model from serving/eventing is right

What do you mean with:

Also, extending the utils from eventing to have usage on downstream seems good :+1:

[2021-01-29 09:48] cardil commented on #67
I could also skip extending testing tools and use KafkaSink. But, KafkaSink isn't in this repo, right?

[2021-01-29 14:18] maschmid opened #342 "kafka-ch-dispatcher doesn't reuse outgoing connections"
**Describe the bug**
Having an MT Broker backed by KafkaChannels, and just a single application sending to the broker, I can see the number of TCP connections in kafka-ch-dispatcher rise with each event sent:

Most of these (around 4000) are connections to broker-filter:

[code]

[code]

 **Expected behavior**
Outgoing connections should be pooled, with a reasonable maximum of connections to the s

[2021-01-29 14:25] cardil commented on #67
/area test-and-release

[2021-01-29 20:28] lionelvillard commented on #157
More thinking on this. KafkaBinding is cute but bad UX IMO (in this context, not KafkaBinding in general).

To get started, are we ok with:

[code]

`config` is optional. When not specified, the current implementation behavior is applied (no change).

When `config` is specified, it fully replaces the default config (no attempt to merge, at least initially).

It is up to the implementation to defin

[2021-01-30 02:01] #69 closed

[2021-01-30 15:15] lionelvillard commented on #71
/remove-lifecycle stale

[2021-01-30 15:16] lionelvillard commented on #66
/remove-lifecycle stale

[2021-02-01 10:14] maschmid opened #347 "Inconsistent "Unsubscribing from channel", unsubscribing a Subscription not in the channel"
**Describe the bug**
kafka-ch-dispatcher logs show "Unsubscribing from channel" messages that shows subscriptions that belong to a different channel. This suggests the dispatcher possibly unsubscribes a different subscription that was meant to be unsubscribed.

[code]

Note, the "Unsubscribing from channel" msg here, showing a Subscription 37fe21a9-c642-4f22-b734-89a74f9997db being unsubscribed fr

[2021-02-01 10:17] maschmid commented on #347
An example logs with the occurence of this issue:

https://gist.github.com/maschmid/a20efbfaba9f076ebb02da1be13d26a9

[2021-02-01 10:19] maschmid commented on #347
/assign @slinkydeveloper

[2021-02-01 13:58] slinkydeveloper commented on #342
/assign

This is weird, it should not happen with https://github.com/knative/eventing/pull/4465

[2021-02-01 14:31] maschmid commented on #342
Is `ConfigureConnectionArgs` invoked anywhere in kafka-ch-dispatcher?

[2021-02-01 14:57] slinkydeveloper commented on #342
I don't think so, but let me check

[2021-02-01 17:15] maschmid commented on #342
OK, I think the problem might be that I have misunderstood the the semantics of defaults. We only set MaxIdleConnsPerHost, not MaxConnsPerHost , so if the connections were all still busy, they are still allowed to grow up for infinity...

[2021-02-01 17:21] slinkydeveloper commented on #342
If you set `MaxConnsPerHost`, does it grows indefinitely?

[2021-02-01 17:31] maschmid commented on #342
MaxConnsPerHost is 0 by default AFAIK, so it doesn't limit it. If we'd set it, it would block during Dial if the limit would be breached...

However, I am still trying to understand the difference between imc-dispatcher and kafka-consolidated-dispatcher.

In IMC, we have https://github.com/knative/eventing/pull/4465/files#diff-793cc23b5cb3cde6c57ad48d4e44b3252912e0e14ea50abb32fbd3904b053846R111  ,

[2021-02-01 18:09] maschmid commented on #342
I think I have a theory on why it this problem occuring in kafka dispatcher, but not imc-dispatcher.

As we don't set anything, we keep the golang defaults, which are

MaxIdleConns = 100
MaxIdleConnsPerHost = 0 , which means "DefaultMaxIdleConnsPerHost" is used per host, which == 2.

This actually causes much more connections to be busy, because with 2 idle connections per host it is hardly re-usi

[2021-02-01 18:13] #219 closed

[2021-02-02 07:44] slinkydeveloper commented on #342
Are you proposing we default to the same defaults of IMC?

[2021-02-02 07:58] maschmid commented on #342
Yes, but it's not just the defaults, it's also the ability to configure those values via a configmap, like we added to IMC dispatcher in https://github.com/knative/eventing/pull/4465/files#diff-793cc23b5cb3cde6c57ad48d4e44b3252912e0e14ea50abb32fbd3904b053846R109-R114

(at least I don't see anything like that in eventing-kafka 0.19)

[2021-02-02 08:40] slinkydeveloper commented on #342
@maschmid in imc dispatcher we removed the ability to configure those values through CM, now they're injected in as env vars https://github.com/knative/eventing/pull/4543

In any case, I'll PR the new defaults

[2021-02-02 08:40] slinkydeveloper commented on #342
/assign

[2021-02-02 09:37] #347 closed

[2021-02-02 10:14] #342 closed

[2021-02-02 10:44] matzew commented on #334
If the server is not configured to prevent this, this will happen - that's a normal kafka thing.

[2021-02-02 10:48] matzew opened #356 "Consolidated channel: SASL/PLAIN does not work with public TLS certificate"
**Describe the bug**

When using a channel against a public service, with proper TLS certificates, the channel is not working, since it expects there CA Cert
https://github.com/knative-sandbox/eventing-kafka/blob/master/pkg/channel/consolidated/utils/util.go#L80

 **Expected behavior**
Works without the ca cert

 **Knative release version**
0.19+

[2021-02-02 10:48] matzew commented on #356
/assign @matzew

[2021-02-02 13:46] matzew opened #357 "Configure MaxIdleConnection via CM ?"
**Problem**
in IMC the `MaxIdleConection` settings can be configured via Config Map. But not for the kafka channel

**Exit Criteria**
would be good to have the same kind of tweak for this?

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**
Add any other context about the feature request here.

[2021-02-02 13:46] matzew commented on #357
/cc @slinkydeveloper

[2021-02-02 13:46] matzew commented on #357
looking here: https://github.com/knative-sandbox/eventing-kafka/pull/353/files and wondering about that "feature"

[2021-02-02 13:48] slinkydeveloper commented on #357
We removed that from IMC for this reason: https://github.com/knative/eventing/issues/4469 :smile: If we need it, we can allow the configuration through envs

[2021-02-02 14:20] lionelvillard commented on #334
Interesting. Do you know if topics are automatically deleted? In any case, the source does not own the topic, which is good.

Make me think we should add a e2e test with`auto.create.topics.enable` set to false.

[2021-02-02 16:15] lionelvillard opened #358 "[mtsource] enable TLS/SASL"
**Problem**
The MT source adapter does not support TLS/SASL

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?
<1

**Additional context (o

[2021-02-02 16:27] matzew commented on #358
So it does currently ignore the fiddling for "AUTH" we have on the CRD ? :thinking:

[2021-02-02 16:32] steven0711dong opened #360 "E2E Test on multi-tenant Kafka Source"
We need to write e2e test so that it could run on mt tenant kafka source.

[2021-02-02 17:00] lionelvillard commented on #358
yup. This code was written before the TLS/SASL stuff.

[2021-02-02 22:02] eric-sap commented on #335
I have an attempt at fixing this in https://github.com/eric-sap/eventing-kafka/tree/add-oauthbearer-sasltype
I tested it locally with a Strimzi/Keycloak installation and it worked.  However, it turns out that our Kafka provider does not support the OAUTHBEARER mechanism so I am unable to do a proper production test and as such and tabling this work for the moment.  I leave the link here in case it

[2021-02-03 06:52] matzew opened #363 "Auth Secret not actively watched"
**Describe the bug**

Providing the `config-kafka` ConfigMap with a `Secret` that does not exist, starting to cause the `KafkaChannel` problems, and prevents it from working:

[code]

Reacting the `Secret` afterwards has no effect, as the secret is not being actively watched...

 **Knative release version**
0.19+

[2021-02-04 01:41] #79 closed

[2021-02-04 16:47] #358 closed

[2021-02-04 20:20] lionelvillard opened #369 "[mtsource] bandwidth rate limiter"
**Problem**
The current rate limiter controls how frequently events are allowed to happen. Since forwarding events is mostly network-bound, it makes more sense to rate limit the number of processed bytes to maximize resource utilization.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test

[2021-02-05 12:48] matzew commented on #363
@aliok  this might be interesting:

https://pkg.go.dev/knative.dev/eventing-kafka-broker@v0.20.1-0.20210202184333-f9a440aea92d/control-plane/pkg/security#NewOptionFromSecret

[2021-02-05 15:22] eric-sap opened #370 "Distributed receiver and dispatcher do not react to auth changes in secret"
**Describe the bug**
The distributed channel's receiver and dispatcher deployments are generated from values in the kafka-cluster secret once and never updated, because these components do not watch the secret for changes.

 **Expected behavior**
Changes to the kafka-cluster secret should result in recreation of the relevant objects (Producer, Dispatcher, Consumer Groups) with the new auth setting

[2021-02-05 15:22] eric-sap commented on #370
/assign eric-sap

[2021-02-06 16:45] pierDipi commented on #369
Why aren't Kafka quotas good enough? Because they're per broker?

[2021-02-07 01:42] #23 closed

[2021-02-08 12:57] #356 closed

[2021-02-10 08:10] aliok commented on #318
/assign

[2021-02-10 15:53] matzew commented on #24
@eric-sap @travis-minke-sap @aliok is this something that we should also do on the "Code unification" ?

[2021-02-12 20:46] lionelvillard opened #382 "[mtsource] Cancelling a single adapter instance does not always work."
**Describe the bug**
Cancelling a single adapter instance does not always work. I'm sometimes seeing this error looping forever:

[code]

 **Expected behavior**
A clear and concise description of what you expected to happen.
no error.

 **To Reproduce**
Steps to reproduce the behavior.
Run the e2e tests and observe error.

 **Knative release version**

 **Additional context**
Add any other context

[2021-02-15 13:15] #298 closed

[2021-02-15 14:07] matzew opened #386 "[meta] KafkaChannel refactorings"
**Problem**

Two implementations of the `KafkaChannel` that do not share a lot of code.

**Exit Criteria**

Desired exit goal: One backing implemetation for the `KafkaChannel` API.

Till today and the "desired exit goal", the team will work on refactorings which addresses the concern of code-sharing. Over time the channel implementations will share more and more (common) code, until we reach a poi

[2021-02-15 14:14] matzew opened #387 "[meta] KafkaChannel unification"
**Problem**

Two implementations of the `KafkaChannel` that do not share a lot of code.

**Exit Criteria**

Desired exit goal: One backing implemetation for the `KafkaChannel` API.

Is "blocked" by https://github.com/knative-sandbox/eventing-kafka/issues/386

**Time Estimate (optional):**
weeks - it's more an iteration

[2021-02-15 14:18] matzew opened #388 "Promote KafkaChannel to v1"
**Problem**
KafkaChannel should be promoted to v1. Would be best as a follow up on after the refactorings and unifications:
* https://github.com/knative-sandbox/eventing-kafka/issues/386
* https://github.com/knative-sandbox/eventing-kafka/issues/387

Persona:
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A mea

[2021-02-15 14:20] matzew opened #389 "Promote KafkaSource to V1"
**Problem**
Kafka should be promoted to v1

Persona:
**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Additional context (optional)**

[2021-02-16 12:36] aliok opened #393 "Editing `config-kafka` causes consolidated channel controller to panic and block forever"
**Describe the bug**
2 problems:

1. When there's an existing Kafka Channel, it can't be deleted when I modify config-kafka.
- Create a channel
- Modify `config-kafka`
- Try deleting the channel
- Controller panics

2. `consumerGroupWatcher` is stuck in termination
- Create a channel
- Modify `config-kafka`
- `consumerGroupWatcher.terminate()` is stuck (it has some mutexes etc)

 **Expected behavi

[2021-02-16 12:36] aliok commented on #393
/assign

[2021-02-16 15:25] #393 closed

[2021-02-17 07:30] matzew opened #398 "Commonly used checkRetry override"
**Problem**

The distributed channel has a custom override of the `checkRetry`:
https://github.com/knative-sandbox/eventing-kafka/blob/c41cdae9688ffabf024e575be772096369c3cd3d/pkg/channel/distributed/dispatcher/dispatcher/handler.go#L157-L200

The method is very detailed and covers a lot of cases, than vendored the "default" implementation:

https://github.com/knative-sandbox/eventing-kafka/blob/c

[2021-02-17 07:30] matzew commented on #398
/assign @aliok
/assign @travis-minke-sap
/assign @slinkydeveloper
/assign @pierDipi

[2021-02-17 08:23] aliok commented on #318
@slinkydeveloper @lionelvillard

We currently mount the `config-kafka` to the dispatcher pod but when the configmap is modified, the pod doesn't know about it.

A. Watch the configmap in the controller, recreate the dispatcher (by deleting and recreating OR updating the dispatcher deployment?)
B. Watch and read the configmap in the dispatcher instead of mounting it as a volume
C. Pass the configma

[2021-02-17 08:26] slinkydeveloper commented on #398
:+1: for me

[2021-02-17 08:28] slinkydeveloper commented on #318
What about mounting the CM as volume and then use a file watcher? That's what we do in eventing-kafka-broker: no need for role bindings and friends and easy to implement

[2021-02-17 08:30] aliok commented on #318
Sounds better. Let me check StackOverflow on how to do it :D

[2021-02-17 08:32] devguyio commented on #398
I think it's useful to use it to eventing and use it in the consolidated channel.

[2021-02-17 08:37] matzew commented on #398
the original code is used on the `consolidate` - if we mive thios to eventing, the consolidated gets it.

and than we can get rid of the custom fucntion of the distrubited

[2021-02-17 08:44] matzew commented on #398
Added a WIP PR for this, to eventing:

https://github.com/knative/eventing/pull/4890

[2021-02-17 09:03] aliok opened #399 "Kafka Source adapter doesn't get updated when configmaps change"
**Describe the bug**
Kafka Source adapter doesn't get updated when configmaps change.

Similar to https://github.com/knative-sandbox/eventing-kafka/issues/318 but harder since the Kafka source controller doesn't track the source adapters it creates.

 **Expected behavior**
KafkaSource adapter should get updated when configmaps change.

 **To Reproduce**
- Create a KafkaSource, a source adapter wil

[2021-02-17 09:08] aliok commented on #399
@slinkydeveloper @lionelvillard

This is related to https://github.com/knative-sandbox/eventing-kafka/issues/318.

But this one is harder.
1. We don't mount configmaps as volumes (can't use file watching). --> not possible because adapter lives in user namespace and Kube doesn't allow cross-namespace configmap mount
2. In channel case, we know we have a single dispatcher deployment that we can alw

[2021-02-17 09:25] slinkydeveloper commented on #399
We never really cared about that, for a very simple reason: changing these config maps on-fly is **very rare**, these are usually configured once when eventing is setup in the cluster.

Sounds good, although as explained above, I'm not sure we should do it.

[2021-02-17 10:25] aliok commented on #399
Exactly. This is why I wrote an email to the ML if I am trying to solve a problem that's not a big deal.

I will wait a bit more before workingOn/closing this ticket to see what folks think.

[2021-02-17 10:42] aliok commented on #318
Similar to https://github.com/knative-sandbox/eventing-kafka/issues/399, I will wait until I hear more opinions on ML if we should implement this or not.

At least I fixed the problems in the controller regarding watching the configmaps.

[2021-02-17 15:50] #370 closed

[2021-02-18 13:10] aliok opened #404 "Kafka code share - umbrella ticket"
**Problem**
We would like to increase code share in Kafka components and also make them consistent.

This is just an umbrella ticket to hold subtasks.

This is the meeting notes that happened in Eventing Delivery group about this initiative: https://docs.google.com/document/d/1f556J18aaG4NUQFawWAcnMAV6_EL_eLCflTyPWn2Yz0/edit

Subtasks:
- [x] https://github.com/knative-sandbox/eventing-kafka/issues

[2021-02-18 13:20] aliok opened #405 "Leverage eventing-kafka field of config-kafka in consolidated channel and in source"
**Problem**
There's an `eventing-kafka` [field](https://github.com/knative-sandbox/eventing-kafka/blob/master/config/channel/distributed/300-eventing-kafka-configmap.yaml#L39) in `config-kafka` of the distributed channel:

[code]

To be consistent (see the umbrella ticket, https://github.com/knative-sandbox/eventing-kafka/issues/404), we can also leverage these settings in consolidated channel and

[2021-02-18 13:22] aliok commented on #299
/close
Duplicated by 405

[2021-02-18 13:22] #299 closed

[2021-02-18 14:18] aliok commented on #405
@travis-minke-sap @eric-sap

May I ask you to review the suggestions in the PR?

How flexible are you in terms of changing the structure of `eventing-kafka`?

Maybe something like this would be better?

[code]

[2021-02-18 14:23] aliok commented on #404
/close

Duplicate of https://github.com/knative-sandbox/eventing-kafka/issues/386

[2021-02-18 14:23] #404 closed

[2021-02-18 14:24] aliok commented on #386
This is the meeting notes that happened in Eventing Delivery group about this initiative: https://docs.google.com/document/d/1f556J18aaG4NUQFawWAcnMAV6_EL_eLCflTyPWn2Yz0/edit

Subtasks:
- [x] https://github.com/knative-sandbox/eventing-kafka/issues/268: Common util for SaramaConfig
- [x] https://github.com/knative-sandbox/eventing-kafka/issues/298: Use Sarama field of config-kafka in consolidated

[2021-02-18 15:09] travis-minke-sap commented on #405
Hi Ali - Thanks for continuing the effort to align the two implementations - it would be great to share this config!  I'll ask that @eric-sap also review as he's been implementing a lot of this configuration on the distributed kafkachannel.

Responding to your proposal...
- Seems fine to change the top level organization from `eventing-kafka` to `channel`
- In general I am ok with making the `enab

[2021-02-18 15:16] #398 closed

[2021-02-18 15:19] eric-sap commented on #405
Adjusting the format of that configmap shouldn't be a big issue, though it would need to be a few bits of changes in various places as the main EventingKafkaConfig struct in pkg/channel/distributed/common/config/configwatcher.go would need to be adjusted to match (which would trigger the need for some one-line-type modifications in the places that use that struct).
As for the particular new format

[2021-02-18 18:37] AceHack commented on #126
Any update?

[2021-02-18 19:03] lionelvillard commented on #126
No progress I'm afraid. We are having discussion in https://github.com/knative-sandbox/eventing-kafka/issues/157 but nothing concrete yet.

[2021-02-19 07:54] aliok commented on #405
Actually, that wasn't my intention. I just wanted a `channel` field as a child of `eventing-kafka` field, so that we can have a `source` field as well.

It can be like:
[code]

Ok, let's not do this.

Yes. Apart from naming, I think we should change this to a top level field in `config-kafka` as it is like that in consolidated. OR, have it in `eventing-kafka` like distributed channel.
When I think

[2021-02-19 10:52] aliok commented on #318
For a unified channel implementation, I want to implement this also in consolidated channel if it exists in distributed channel.

ML discussion here: https://groups.google.com/g/knative-dev/c/VQuCXfAl8JQ

[2021-02-19 15:00] travis-minke-sap commented on #405
👍  On the hierarchy of `channel` and `source` under `eventing-kafka`

👍  On the `authSecretName` and `authSecretNamespace` ... This is something that we want to switch over to once we have the time.  Currently we have a separate Controller which watches the secrets (based on a label).  This was done in the past to support dynamically adding Azure EventHub Namespace secrets (which have a limited nu

[2021-02-19 15:09] aliok commented on #405
Thanks for the feedback. All agreed!

Then I suggest we move `authSecretName` and `authSecretNamespace` from top-level to under `eventing-kafka.auth` (new field).

So, my final proposal:

[code]

I hope to start working on this in the upcoming weeks.

Just a note to myself: consolidated channel should still support the "to be deprecated" fields for a few releases.

[2021-02-19 15:39] lionelvillard opened #411 "Source controllers mark KafkaSource as ready too early"
**Problem**
Events sent to a source marked as ready might not be forwarded to its sink. For instance, events sent to partitions with an uninitialized consumer group offset could be lost if these events are sent while the source is being scaled up/down.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurabl

[2021-02-19 19:02] lionelvillard opened #412 "[mtsource] scale down adapter replicas with no scheduled source."
**Problem**
The autoscaler should attempt to scale down unused adapter replicas.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?
1-2

*

[2021-02-19 20:50] lionelvillard opened #413 "[KNEP] Provide various message delivery and ordering guarantees"
**Description**
Kafka supports multiple message delivery guarantees (no guarantees, at most once, etc...) as well as various ordering guarantees (in consumers). This proposal is to bring these capabilities to Knative Kafka broker, channel and source.

[2021-02-23 05:48] devguyio commented on #229
/remove-lifecycle stale

[2021-02-23 21:09] lionelvillard commented on #382
https://github.com/knative-sandbox/eventing-kafka/pull/406 fixes it.

[2021-02-23 21:13] lionelvillard commented on #369
Kafka quotas are broker-side knobs, is that right?

[2021-02-23 21:14] #382 closed

[2021-02-23 21:19] pierDipi commented on #369
Yes, right.

[2021-02-23 21:24] pierDipi commented on #369
From https://kafka.apache.org/documentation/#design_quotas

Not sure if this might work in your env.

A downside I was referring to is:

[2021-02-23 21:36] lionelvillard commented on #369
I looked at this but it AFAICT a consumer cannot set quotas so that's a no go. We want to be able to limit the bandwidth from the consumer and per consumer.

[2021-02-23 21:50] pierDipi commented on #369
Make sense, thanks for sharing!

[2021-02-24 02:21] lionelvillard commented on #233
/remove-lifecycle stale

[2021-02-25 13:23] lionelvillard commented on #215
/remove-lifecycle stale

[2021-02-27 06:01] ch0312 opened #420 "After kafka-ch-dispatcher is restarted, undelivered events in Kafkatopic are not delivered."
**Describe the bug**
After kafka-ch-dispatcher is restarted, undelivered events in Kafkatopic are not delivered.

 **Expected behavior**
After kafka-ch-dispatcherh is restarted, it will deliver the undelivered events in Kafkatopic.

 **To Reproduce**
- Create a Kafkachannel.
- Send an event to the created Kafka channel.
- Execute 'docker kill' command to stop the kafka-ch-dispatcher container befo

[2021-02-27 06:31] ch0312 commented on #420
I would like to add the means of reproduction that I use.
[isssue#420_yaml.zip](https://github.com/knative-sandbox/eventing-kafka/files/6053811/isssue.420_yaml.zip)

- Create channel, subscription, and service. We do not create the event-display Service.
[code]
- Send an event to the channel. Since the event-dispaly service does not exist, redelivery should be attempted for a few tens of seconds,

[2021-02-27 06:37] ch0312 commented on #420
I will describe the tentative solution I found, as it may help to find the cause of the problem.

1. I created an event-display-ch, sent an event to channel, and killed the kafka-ch-dispatcher Pod before the event was delivered. As mentioned earlier, this event is not delivered. The result is the same no matter how many times it is repeated.
2. Then I sent the event to the channel again and did no

[2021-02-27 18:26] #412 closed

[2021-03-01 09:58] slinkydeveloper commented on #233
I believe the eventing-kafka-broker can easily support this use case with a simple flag that just doesn't create a topic if it's not there... WDYT @pierDipi?

[2021-03-01 16:56] slinkydeveloper commented on #420
At the first try, did the dispatcher replied with 202 to your event-display-ch?

So, this happens only with the first message ever in your channel (aka in your topic), right?

[2021-03-02 03:46] ch0312 commented on #420
That's right. Regardless of whether it is the first time or not, when you send a message to a channel, the channel will return 202.
The actual message is as follows:
[code]

It's not just the first message.
I'm sorry if my explanation is confusing.

1. Send an event to the channel and kill the kafka-ch-dispatcher Pod before the event is delivered. Even if the kafka-ch-dispatcher Pod recovers, this

[2021-03-02 08:24] slinkydeveloper commented on #420
Ok, my point is, when you kill the kafka dispatcher pod (like in point 1), does the channel replies with 202? Or it doesn't reply?

Because the delivery guarantee of kafka channel is: If channel replies with 202, then it should deliver the message, even after a crash

[2021-03-02 08:31] slinkydeveloper commented on #420
Can you try to execute these steps?

1. Create a channel with just one topic partition
1. Send a bunch of messages and let the channel deliver them
1. Try to reproduce your issue
1. Without recreating the channel (just kill the pod), check out that, after the recovery, the messages are delivered

Also, can you try to upgrade to 0.21 if you can?

[2021-03-02 21:12] pierDipi commented on #313
@yuzisun I'll close this issue, reopen it if it persists.
/close

[2021-03-02 21:12] #313 closed

[2021-03-03 00:03] vaikas opened #426 "Remove usage of eventing duck v1alpha1 shapes"
**Describe the bug**
The v1alpha1 channelable shape has been deprecated forever and we need to remove it.
https://github.com/knative/eventing/pull/5005

Looks like kafka still uses it and it's still storing channels as v1alpha1:
https://github.com/knative-sandbox/eventing-kafka/blob/master/config/channel/resources/kafkachannel-crd.yaml#L30

So, these will stop being reconciled once 5005 goes in. W

[2021-03-03 02:27] ch0312 commented on #420
I killed the kafka-ch-dispatcher Pod after confirming that channel replied with 202.
In other words, I have the kafka-ch-dispatcherPod down between the time the channel receives the message and the time it is delivered.

I'll upgrade to 0.21.
However, this issue only occurs after I create the channel and before the first successful delivery.
Therefore, if I run No2, I will not be able to reproduce

[2021-03-03 08:30] slinkydeveloper commented on #420
What is this step to check?

I see now the problem. It might be (and i'm going by guessing) that, without ever successfully delivering a message, no offset is ever committed, so when the consumer group is restarted, the offset is set to the last record + 1. This might be fixed by setting the offset to initial for the consumer group, cc @aliok where should i place this config then?

[2021-03-03 09:08] aliok commented on #420
@slinkydeveloper
We don't have anything in the channel CRD for that.
It might be possible to specify that (not 100% sure) in Sarama config in `config-kafka` but that means, channel will re-read it when it starts after a crash and it will always start from the specified offset.

[2021-03-03 09:12] aliok commented on #420
Yeah, something like this should work (beware the issue I wrote above though):

[code]

Value could be `OffsetNewest=-1`, `OffsetOldest=-2` (see https://pkg.go.dev/github.com/Shopify/sarama), or others.

[2021-03-03 10:58] slinkydeveloper commented on #420
Ok so let me try to PR the hardcoded value for channel only

[2021-03-03 14:39] travis-minke-sap commented on #222
/remove-lifecycle stale

[2021-03-03 15:04] travis-minke-sap commented on #420
Disagree - don't want to make the assumption that offset is always/only the "oldest"

[2021-03-03 22:32] vaikas commented on #426
We will also need something like this to migrate storage versions from v1alpha1 to v1beta1:
https://github.com/knative/eventing/pull/3262

[2021-03-04 07:44] slinkydeveloper commented on #420
@ch0312 After discussing about this issue on #428, I think the viable solution to fix this problem for you now is to do like ali explained in this comment https://github.com/knative-sandbox/eventing-kafka/issues/420#issuecomment-789561223

[2021-03-04 08:21] ch0312 commented on #420
Thank you.
I would like to try sarama, what can I write in "XYZ"?

[2021-03-04 08:23] slinkydeveloper commented on #420
Try `-2`, like i was doing in #428

[2021-03-04 09:36] ch0312 commented on #420
@slinkydeveloper Thank you. Setting 'Initial: -2' no longer causes problems.
Why should I set it to -2?

[2021-03-04 11:35] slinkydeveloper commented on #420
setting to `-2` (aka `OffsetInitial`) makes sure that, when starting consuming the channel topic, you always start from the beginning of this topic.

[2021-03-04 12:17] ch0312 commented on #420
Thanks.
Does this mean that when the channel comes back from a crash, there is a possibility that previously delivered events will be delivered again?
As far as I have tried, this has not happened.

[2021-03-04 12:26] slinkydeveloper commented on #420
No, because when it restarts, it will reuse the same offset, because it will be the same consumer group. Starting from the beginning is a behaviour that happens only with new subscriptions

[2021-03-04 12:35] aliok commented on #318
/reopen

I forgot the "Fixes: 318" text in https://github.com/knative-sandbox/eventing-kafka/pull/423

That PR was for refactoring only. More work is needed.

[2021-03-04 16:09] ch0312 commented on #420
When OffsetInitial is set to -2, does it mean that the new subscription will re-deliver the previously delivered messages that are still in KafkaTopic?
(I'm sorry for asking so many questions. I am trying to figure out the caveats of setting OffsetInitial to -2.)

[2021-03-04 16:10] slinkydeveloper commented on #420
Yes

[2021-03-04 16:24] ch0312 commented on #420
To verify this, I did the following.
1. I created a kafkachannel with OffsetInitial set to -2 and a subscriptionA and delivered some events.
2. I then created a new subscriptionB, but the messages already delivered in 1 were not re-delivered.

I thought that subscriptionA and subscriptionB might belong to the same ConsumerGroup.
Is there any setting I need to do to create subscriptions for differe

[2021-03-04 17:20] travis-minke-sap commented on #420
Don't mean to intrude - just trying to help in case slinky is offline...

If SubscriptionB did NOT have the OffsetInitial set to -2, then the default value is to start from the current/latest offset which would explain why SubscriptionB did not receive the older events.  Each Subscription should have its own ConsumerGroup with independent offset tracking.

[2021-03-04 17:23] slinkydeveloper commented on #420
`subscriptionA` and `subscriptionB` should be in the same consumer group...

[2021-03-04 17:23] travis-minke-sap commented on #420
I apologize for deleted comment - was trying to remove my response - github acting up on me - i'll stop making a mess here ; )

[2021-03-05 01:56] ch0312 commented on #420
Complements the missing content.

[2021-03-05 02:01] ch0312 commented on #420
The OffsetInitial setting is set to kafka-config, so both subscriptionA and subscriptionB have the OffsetInitial set to -2.

[2021-03-05 07:47] slinkydeveloper commented on #420
Yes but after you dispatch successfully the very first message, they'll both start tracking their offset (separately, because they're 2 separate consumer groups)

[2021-03-05 11:00] devguyio commented on #134
Still exists

[2021-03-05 19:57] devguyio commented on #73
/remove-lifecycle stale

[2021-03-06 01:48] #118 closed

[2021-03-08 08:09] slinkydeveloper commented on #70
@aliok I can help with second and third issue, not much I can do for the first one

[2021-03-08 08:27] aliok opened #434 "Conflicting channel services"
**Describe the bug**
Same as https://github.com/knative/eventing/issues/5023

Need to fix in both KafkaChannel implementations we have.

 **Expected behavior**
See https://github.com/knative/eventing/issues/5023

 **To Reproduce**
See https://github.com/knative/eventing/issues/5023

 **Knative release version**
0.21

 **Additional context**
See https://github.com/knative/eventing/issues/5023

[2021-03-08 11:52] devguyio opened #435 "Code convention & linting rules for imports"
## Description

Would it make sense to agree on a convention for the go imports and maybe set the code style job to verify them? I follow the goimports style and have three blocks each sorted:
1. std
2. 3rd party
3. local package

[code]

right now the imports are generally all over the place and varies from one component to another, between PRs, and different committers.

This will make it easier

[2021-03-08 12:14] matzew commented on #435
sounds good!

[2021-03-08 12:29] aliok commented on #435
Sounds good, but is there some tooling for doing this grouping?

[2021-03-08 13:08] slinkydeveloper commented on #435
Which editor? :smile:

[2021-03-08 13:19] devguyio commented on #435
[goimports](https://pkg.go.dev/golang.org/x/tools/cmd/goimports) does the "std lib packages" on top, and custom, empty lines separated groups below. then it automatically imports those groups.

most decent editors have them :smile: [goimports](https://pkg.go.dev/golang.org/x/tools/cmd/goimports)

[2021-03-08 13:24] slinkydeveloper commented on #435
goimports is already checked by our linting gh actions script

[2021-03-08 13:29] ch0312 commented on #420
When I tried again, subscriptionB delivered all the messages in the topic, including the ones already delivered.
This is the expected behavior when OffsetInitial=-2.

@slinkydeveloper @travis-minke-sap Thanks for answering my question. I will close this issue.

[2021-03-08 13:29] #420 closed

[2021-03-08 14:35] matzew commented on #426
@vaikas :see_no_evil:   that pre-job triggers bad memories

[2021-03-08 15:31] rhuss commented on #435
not sure if there is to be done here specifically (and personally I don't care much as my IDE hides the import from me anyway). I think it's more important to align on conventions about import aliases (if at all). Strangely, the older I get the less I care about code styles or syntactic convention (had too many such battles in my life, won't pick another one if not absolutely needed).

[2021-03-08 15:53] n3wscott commented on #435
We already have a standard codestyle github action that runs and will report linting errors. https://github.com/knative-sandbox/.github/blob/main/workflow-templates/knative-style.yaml

[2021-03-08 16:03] matzew commented on #315
@eric-sap @travis-minke-sap FYI

[2021-03-08 23:50] pierDipi commented on #233
Yeah, we can support it.
We just need to decide the API surface and then it could even be a good first contribution.

[2021-03-09 07:37] #315 closed

[2021-03-09 09:57] slinkydeveloper commented on #233
@pierDipi can you open an issue? Whatever API is fine for me, even an annotation

[2021-03-09 16:53] slinkydeveloper commented on #73
/assign

[2021-03-09 18:08] lionelvillard opened #442 "[source] spec.consumers should not be immutable"
**Describe the bug**
see title

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-03-09 20:23] aslom opened #444 "Unable to scale Kafka source with HPA"
**Describe the bug**
Unable to scale single Kafka source with HPA

 **Expected behavior**
HAP should be able to scale Kafka source

 **To Reproduce**

Use HPA that is targeting Kafka source:

[code]

Problems:

[code]

 **Knative release version**
0.21

 **Additional context**
Add any other context about the problem here such as proposed priority

Manual scaling of replcias works:
[code]

[2021-03-10 00:09] vaikas commented on #426
So here's couple of PRs. Note that you must start using the v1beta1 channelable like in this PR so that any channels created during the migration will get the proper duck type and they will get reconciled properly.

https://github.com/knative/eventing/pull/3169

Here's post install script:
https://github.com/knative/eventing/pull/3168/files

For Brokers, we moved from v1alpha1 -> v1beta1 by instal

[2021-03-10 07:30] #442 closed

[2021-03-10 07:37] slinkydeveloper commented on #426
Thanks for the pointers. I'm going to tackle it now.

Since this issue is a duplicated of #71, I'm going to close this

[2021-03-10 09:37] aliok commented on #188
/close

I say this is done via https://github.com/knative-sandbox/eventing-kafka/issues/268 and https://github.com/knative-sandbox/eventing-kafka/issues/298

Reopen if you had something else in your mind

[2021-03-10 09:37] #188 closed

[2021-03-10 09:48] #73 closed

[2021-03-10 12:25] aliok commented on #65
/remove-lifecycle stale

[2021-03-10 15:54] aslom commented on #444
I found great example of implementing labelSelectorPath in blog post [Autoscaling Kubernetes Custom Resource using the HPA](https://medium.com/@thescott111/autoscaling-kubernetes-custom-resource-using-the-hpa-957d00bb7993) by Scott Berman so I am going to implement Status.Selector for Kafka Source single and multi versions.

1. Add Status.Selector to CRD and apis kafka_types for all versions, make

[2021-03-10 16:47] vaikas commented on #426
I do not think there's a way to do this smoothly without preinstall or adding some special handling for the kafka channel for the subscription controller. The problem is that the Subscription reconciler will treat the Channel differently (because the shapes are different) based on the label on the Channel. After #5005 in eventing went in, it will not have any understanding of the old channel types

[2021-03-10 16:52] slinkydeveloper commented on #426
I think I lost you in this, but it seems similar to my idea:

* In 0.21 kafkachannels won't get reconciled anymore, but we keep the v1alpha1 code, we set the stored version (#446) and we provide the post install job (#448). This makes sure all the v1alpha1 channels are migrated and the channels get reconciled again.
* In 0.22 we remove the v1alpha1 code

WDYM by this one in particular? v1alpha1 an

[2021-03-10 17:00] vaikas commented on #426
I think that will work, but you will have some downtime since after you upgrade eventing and before you complete the storage version, the channels will not get reconciled. If this is acceptable then that should work indeed. One problem is that if the job fails to upgrade for some reason you might be in a bad state. It's mosdef worth experimenting again if this is acceptable. The one thing I am cur

[2021-03-10 17:16] slinkydeveloper commented on #426
I guess it's either this or the pre-install, which tradeoff do we want?

Ok I see your point, so what you're saying to me that in theory it might work, in practice some things might corrupt the CR, right? I guess I need to try the process on my machine and see what happens. If it doesn't fail, I assume it just works and we can proceed... @matzew @devguyio @aliok  how does that sounds?

[2021-03-10 18:33] vaikas commented on #426
@slinkydeveloper yes, I'm worried that the Channel gets written back to the storage, it's lossy and you'll lose all the subscription information from the channel. Now, this _should_ get reconciled later, the questions are:
 1. Is this true for realsies
 2. how long is the lag and is that acceptable
 3. Will this cause actual data loss in which case it's not just a matter of a resource being stale

[2021-03-11 08:32] aliok opened #455 "Remove on-the-fly reloading of `config-kafka` in distributed channel"
**Problem**
I started with on-the-fly reloading of `config-kafka` in consolidated channel: https://github.com/knative-sandbox/eventing-kafka/issues/318

Distributed channel already does this, but it is missing in consolidated channel.

I tried this for a while but in the end the code was getting too complex and also there were some technical issues (e.g. some stuff read from `config-kafka` can onl

[2021-03-11 08:33] aliok commented on #318
/close
Closing per https://github.com/knative-sandbox/eventing-kafka/issues/455

[2021-03-11 08:33] #318 closed

[2021-03-11 08:34] aliok commented on #399
Closing per https://github.com/knative-sandbox/eventing-kafka/issues/455

[2021-03-11 08:34] aliok commented on #399
/close

[2021-03-11 08:34] #399 closed

[2021-03-11 16:10] #444 closed

[2021-03-11 21:09] aliok commented on #426
@vaikas thanks a lot for the detailed comments, really appreciated.

I have some bad memories with pre-install, so I will be a little biased :)

IMO this workaround is the safest and easiest path, although it is yucky :)

Other options:
- Pre-install caused us some problems in the past. This would be my least preferred option.
- Doing something similar to ChannelableCombined duck type in KafkaChan

[2021-03-12 01:52] #116 closed

[2021-03-15 13:54] lionelvillard opened #462 "[scheduler,mtsource] support for vpod resource requests"
**Problem**
The current scheduler assumes that all vpods consume the same amount of resources. It should not. For instance, a Kafka consumer bound to 10 partitions uses much less resources than a Kafka consumer bound to 1000 partitions.

Tasks:

- [ ] [Design](https://docs.google.com/document/d/1vR5CVLIVvvVdnlLuS7HtQbE69sYsI9k833pk_aohtmo/edit#heading=h.gts6b246hv9c)
- [ ] Implementation [PR]

[2021-03-15 14:04] lionelvillard opened #463 "[scheduler,mtsource] support for HA"
**Problem**
By default, the scheduler tries to allocate vpod replicas onto the same pod. When this pod becomes unavailable, the vpod also become unavailable. Not good.

Tasks:
- [ ] [design - scheduling strategies](https://docs.google.com/document/d/1vR5CVLIVvvVdnlLuS7HtQbE69sYsI9k833pk_aohtmo/edit#heading=h.u20336n3f3mt)
- [ ] implementation

[2021-03-16 08:22] matzew opened #466 "E2E test with multiple partitions"
**Problem**
default of the `KC` goes with one partition

**Exit Criteria**
E2E test for running with a channel that has several partitions for messaging

[2021-03-16 08:23] matzew commented on #463
Is this for the source? Should it be reflected in the issue name ?

[2021-03-16 09:05] matzew commented on #466
/cc @devguyio @aliok

[2021-03-16 12:34] lionelvillard commented on #463
yes scheduler = source

[2021-03-16 17:11] lionelvillard commented on #360
closing in favor of https://github.com/knative-sandbox/eventing-kafka/issues/325

[2021-03-16 17:43] #324 closed

[2021-03-16 18:08] lionelvillard opened #469 "[mtsource] The reconciler should retry when updating source fails"
**Problem**
Updating the adapter state might fails and there is no attempt to retry it.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

[2021-03-16 19:23] lionelvillard commented on #462
Putting this is the back burner as the current implementation follow this opposite approach: the adapter works within the limits allocated to it, eg.. the fetch buffer size, per partition, is adjusted to fit in the allocated memory (a constant parameter).

[2021-03-17 07:49] slinkydeveloper commented on #426
I think I've found the way to go, but it includes an hack in the subscription controller. I have a gist to reproduce the update process: https://gist.github.com/slinkydeveloper/59ab25d63fe8b14c298bbc1d9839fb62

[2021-03-17 07:52] aliok commented on #426
@slinkydeveloper Thanks for the detailed gist. I will give it a try.

[2021-03-17 11:01] slinkydeveloper commented on #426
@vaikas @aliok In a "normal" situation, how the subscription ref is supposed to be updated?

Aka who is responsible for updating:

[code]

To this:

[code]

The hack I've implemented with https://github.com/knative/eventing/pull/5085 makes the reconciler work, but it doesn't update the sub version... Who's supposed to do that? :smile:

[2021-03-17 11:54] aliok commented on #426
I don't know where this is updated. I've never seen any release notes about any user action nor any upgrade script around that. Maybe the subscription reconciler should do it?

[2021-03-17 12:19] aliok commented on #426
I was just checking the gist.

Is this a good summary?

* We keep KafkaChannel v1alpha1 having duck v1alpha1 --> we cannot change this.
* We migrate KafkaChannel v1alpha1 resources to v1beta1, but we still keep the served=true on v1alpha1. That means the reconciler will still see the CR as v1alpha1 until post-install is finished.
* In subscription reconciler, we [fetch](https://github.com/slinkyde

[2021-03-17 13:03] #360 closed

[2021-03-17 13:05] slinkydeveloper commented on #426
Yep correct! And then after the 0.22 release, we clean up hacks and v1alpha1 code.

Although I think, as last bit, we still need to solve the update of the refs. Somehow it doesn't sound right user has to do that by hand

[2021-03-17 14:48] aliok commented on #426
The procedure in the Gist works. I also added removed / added the subscription after the procedure to see what happens.

Another test case I did was doing `post-install` first, and then `ko apply`'ing all the others. That also works fine. Red Hat QE might get more creative testing this, but my initial tests succeeded fine.

sacura logs - first part:
[code]

What is the frequency of Sacura sending

[2021-03-17 14:51] slinkydeveloper commented on #426
It's in the config, it seems to me it's running at 200 rps. Worst case, my assumption is that the system is not available for ~ 3 secs (looking at sacura log + kubectl describe)

[2021-03-17 14:53] aliok commented on #426
I can see this above: `"404": 29` So, maybe it is actually shorter.

[2021-03-17 14:53] aliok commented on #426
Ah, this is the 2nd case I mentioned above (doing the post-install first). In that case, possibly there are less problems

[2021-03-18 08:59] FischlerA opened #472 "Immense memory usage for Kafka Cluster Receiver and KafkaChannel Pods"
**Describe the bug**
We have created a MtChannelBasedBroker with a KafkaChannel and nothing else. The connection to our kafka cluster works just fine, we can read/write messages and so on. However after letting the system run on it's own without any kind of interaction and without deploying any resources besides the Broker (which also creates the KafkaChannel) the system suddenly starts using a lo

[2021-03-18 09:50] slinkydeveloper commented on #472
In order to investigate this issue, we need either an indication of your load behaviour and some profiling data from pprof

[2021-03-18 11:00] slinkydeveloper commented on #426
Ok so I've found how to upgrade the subscription ref:

* This hack https://github.com/knative/eventing/pull/5085/files#diff-74513e8fb938944cdb1b786c568c843a282eecd46ba5440a4374763245e2ffeaR28 and this hack https://github.com/knative/eventing/pull/5085/files#diff-470bc81aba38096c05268e5b260283acae3e020b04a8a28f6c8307dc6213c480R86 make sure that, when using kafka channel in a sub, we default to v1be

[2021-03-18 11:07] slinkydeveloper commented on #426
The whole migration path goes as follows:

* User setup knative eventing 0.22
* User setup eventing-kafka 0.22
  * post-install script taps every kafkachannel, causing it to be stored as v1beta1 because now the CRD def doesn't allow storing v1alpha1 anymore
  * post-install script taps every subscription, causing the update of its `Spec.Channel.APIVersion` field to `v1beta1` through the defaulting

[2021-03-18 11:11] FischlerA commented on #472
That is exactly the issue.
There is no load, we are neither sending nor receiving any data. The system is just idle.
Currently it's just a proof of concept, so we have empty kafka topics and without any kind of interaction (i was literally in the kitchen drinking coffee) the memory usage spikes until the node ran out of memory and the cycle repeated.

It also happens at irregular intervals.
(the f

[2021-03-18 11:14] matzew commented on #426
I see the updated PR for eventing - will follow that

[2021-03-18 11:14] slinkydeveloper commented on #472
@FischlerA Does this happen using directly KafkaChannel without brokers?

[2021-03-18 11:26] FischlerA commented on #472
It happens when deploying a Broker that creates the KafkaChannel for us and keeping both of them idle.
here are the configmaps used to create broker and channel

config-br-defaults configmap
<p>

[code]
</p>

<summary>config-br-default-channel</summary>
<p>

[code]
</p>
</details>

And here is the yaml files for creating the broker

[code]

[2021-03-18 11:44] slinkydeveloper commented on #426
@vaikas can you please check the solution proposed here?

[2021-03-18 14:03] FischlerA opened #474 "Duplicate resources in eventing-kafka.yaml"
**Describe the bug**
The eventing-kafka.yaml provided in the new v0.21.1 release contains the kafka-config-logging configmap 3 times.
This causes issues when using [kustomize ](https://kustomize.io/) since there are duplicate resource entries.

The configmaps occure on lines: 886, 919, 952

Also the separator for one of the configmaps is missing in line 969.

 **Expected behavior**
The provided ya

[2021-03-18 17:44] vaikas commented on #426
@slinkydeveloper looks pretty hacky but if it works, I'm fine with it.

[2021-03-19 21:43] aavarghese commented on #469
/assign

[2021-03-22 10:07] slinkydeveloper commented on #472
This seems like a normal setup... I'm sorry but I can't help any further without some indications on where the problem is... Maybe do you have some metrics on the topics activity? To see if, for some reason, there are messages going around even if idle? Or some more granular indication of which thing is draining so much memory.

The fact that the kafka cluster is using so much memory is also weird

[2021-03-22 10:52] FischlerA commented on #472
@slinkydeveloper i am really sorry to inform you that my customer deceided that he doesn't want us to spend anymore time on knative.
I am really, truly sorry, but i won't be able to provide anymore information without going directly against the wishes of my customer whiche i just can't do.

The last part of information i can provide you is that we are using confluent cloud to host our kafka.

I am

[2021-03-22 10:52] #472 closed

[2021-03-22 14:28] devguyio commented on #280
Fixed by #433

[2021-03-23 11:55] BalaP21 opened #475 "Knative (0.21) - though event retries configured to be linear, happening exponentially"
**Describe the bug**
With the latest Knative - 0.21, we see that event retries are following Exponential pattern, though backOff Policy is configured to be Linear.
Our channel is a KafkaChannel and Implementation is of type Consolidated.
Retries are configured on the Channel.

 **Expected behavior**
Event Retries are supposed to happen at the fixed interval that was defined in the channel Spec.
de

[2021-03-23 12:50] slinkydeveloper commented on #475
/assign

[2021-03-23 21:21] travis-minke-sap opened #477 "Consumer Offset Re-Positioning (Replay)"
**Problem**
The short-term persistence of events in the KafkaChannel is a key differentiator from other Channel implementations. This persistence provides the ability for supporting advanced use cases, such as being able to replay prior events. The ability to replay past events will allow subscribers who have experienced downtime to receive events they might have otherwise missed.

This issue cove

[2021-03-24 09:46] slinkydeveloper commented on #477
@travis-minke-sap I was wondering, how does it sounds to you to go ahead and **try** to implement the pause/resume capability in `Subscription` first? The reason I say this is:

* pause/resume already has an FT, a prototype (https://github.com/slinkydeveloper/control-data-plane-communication), the tools to implement it (https://github.com/knative-sandbox/control-protocol)
* Because the replay feat

[2021-03-24 14:24] travis-minke-sap commented on #477
I am ok with the approach, and we are definitely also interested in the Pause/Resume capability.  My only concern is the timeframe, since the Replay feature is a requirement I need to fulfill (internally), whereas Pause/Resume is just a nice-to-have.  I'd be happy to pair on the two of them as you suggest, but would need to have some reasonable idea that we could complete both of them in the next

[2021-03-24 14:54] slinkydeveloper commented on #477
I don't feel comfortable telling you "in 1/2 months this feature is ready", even worse given the fact that for Replay we still don't have the full picture of how it should work...

I can tell you that subscription pause/resume is something it shouldn't take that long, I can put together a plan in some upstream issues, based on the findings I made in the prototype. But for the replay, before start

[2021-03-24 15:07] travis-minke-sap commented on #477
Yeah, fair enough - and of course you're right we need to settle  [knative/eventing#5136](https://github.com/knative/eventing/discussions/5136) first - I was just looking for a quick gut-check of... _"no, I have 10 things to do before that"_,   or _"pause/resume won't be ready for 4 months at least"_ or something like that.

For the moment we can keep pursuing the design (# 5136) and then when we'

[2021-03-26 05:53] yuzisun commented on #413
hi @lionelvillard, what's the plan for this? we are interested in to contribute and discuss the solution.

[2021-03-26 16:38] eric-sap commented on #254
This was an "old utility version" problem on my part; closing

[2021-03-26 16:38] #254 closed

[2021-03-27 01:28] #232 closed

[2021-03-27 11:08] pierDipi commented on #477
I think we should not restrict this feature to be only usable by a Subscription but general for both Trigger and Subscription.

It seems worth evaluating what Kafka itself offers with the `/bin/kafka-consumer-groups.sh` script [1] regarding resetting offsets, which could be used as a reference to build the API on or even for implementing it.

A possible API might be:
[code]

The channel reconciler

[2021-03-30 14:02] travis-minke-sap commented on #477
Hi Pier - Thanks for the feedback!

My thoughts...
- I think the idea of making the Command CRD more generic (not specific to subscriptions but also triggers) makes sense.
- I don't think we have to have Pause/Resume in order to reposition the offset.   The ConsumerGroup will just be interrupted from processing wherever it is in the topic.  The Dispatcher logic can stop the ConsumerGroup if the Sa

[2021-03-30 14:51] #222 closed

[2021-03-30 15:15] slinkydeveloper commented on #413
TBH @lionelvillard I think this issue requires some more description from you :smile:

What are we trying to do here? ATM our kafka projects are a bit diverging on the orderding guarantees, kafka broker supports both ordered and unordered delivery, KafkaChannel (I think both impls, but I may be wrong) and Kafka Source supports only ordered delivery. All of them supports partitionKey.

The delivery

[2021-03-30 15:46] lionelvillard commented on #325
I'll take an initial stab at this, for KafkaSource in general. @matzew @slinkydeveloper

[2021-03-30 21:24] devguyio opened #491 "[Consolidated Channel] Increase status prober unit test coverage above 80%"
### Description
Increase the unit tests coverage of the dispatcher prober above 80% . Currently we're relying on e2e tests of the channel.

[2021-03-30 21:31] travis-minke-sap commented on #477
@pierDipi - I wanted to say thanks for providing that suggestion above - it sparked a conversation internally as to whether the Controller watching the new "Command" CRDs could just alter the offsets directly instead of having to communicate with the Dispatcher Pods.  I have some research to do in that regard, but assuming it is feasible then we are able to eliminate the need for the control-proto

[2021-03-30 22:34] pierDipi commented on #477
What I'm trying to suggest is to look at what is out there and try to use the same language/API, and not to support all the stuff.

For example, why do we call it `RepositionOffset` when the command-line client, the Java API, and the Sarama API call it `ResetOffset`?

Also, If we create a CRD that supports multiple commands, I see an increased complexity in:
- granting access to individual command

[2021-03-31 06:03] slinkydeveloper commented on #477
If it never gets used, it never becomes ready :) I think from now on we should invest on control-protocol for new features, in particular for this one where it fits very well

[2021-03-31 15:50] travis-minke-sap commented on #477
Thanks for clarifying, I responded quickly without doing a good job of reviewing your comment thoroughly (need to slow down ; ).  There's no good reason for the naming difference, you are right that they should align and I will change the terminology (ResetOffset, etc.) - thanks!

I am open to having the Command CRD be very specific `KafkaResetOffsetCommand` (or similar) as you suggest - I thought

[2021-03-31 16:02] slinkydeveloper commented on #477
Is there something of the control protocol that is not in place/doesn't fit this use case? Can you be more specific on what doesn't fit?

I personally disagree with the idea of merging code, just for the sake of following whatever schedule, which brings in immediately a lot of tech debt that has to be solved at some point by somebody... In other words, I disagree with taking shortcuts... If contro

[2021-03-31 16:24] matzew commented on #477
that seems reasonable to me as well.

[2021-03-31 17:00] travis-minke-sap commented on #477
I never indicated that the control-protocol had a deficiency or didn't fit the use case.  I was only stating that there are other approaches that might be more expedient to complete.  I was basing my assumption that the control-protocol **might** not be ready in time on your proposed ordering of work - the last time we spoke you said the control-protocol was still under construction, and you wante

[2021-03-31 19:01] maschmid opened #494 "kafka-controller-manager CrashLoopBackOff when unreconciled KafkaSources already exist during startup"
**Describe the bug**
With eventing-kafka 0.20

When re-installing eventing and eventing-kafka (in this case using Serverless operator, but the issue could possibly be triggered other ways), kafka-controller-manager sometimes CrashLoopBackOff s

showing

[code]

errors and eventually

[code]

 **Expected behavior**
kafka-controller-manager  should not crash during startup when KafkaSources already

[2021-04-01 01:29] #240 closed

[2021-04-01 04:35] aavarghese commented on #463
/assign

[2021-04-01 13:59] cardil opened #495 "`integration-test-mt-source` fails if post-install scripts are executed"
The failing job `integration-test-mt-source` in https://github.com/knative-sandbox/eventing-kafka/pull/467 is apparently my fault. I've added post-install scripts to all installs. But, on mt-source there nothing to migrate, so the job fails with:

[code]

I'm not sure that post-install scripts should fail if they have nothing to migrate.

Ref.: [integration-test-mt-source build-log.txt L946](https

[2021-04-01 14:08] aliok commented on #494
I was able to reproduce this one.

Problem is that kafka-controller-manager has both the reconciler and the webhook in it.

The process is something like this:
- Webhook is started
- Informers are synced - blocking
- Controllers are started. 2 things happen here
  - Certificate controller takes care of the webhook certificate
  - Reconcilers for KafkaSource etc. is started

When there are no exist

[2021-04-01 14:13] aliok commented on #494
@vaikas @slinkydeveloper mind having a look?

[2021-04-01 16:45] #72 closed

[2021-04-01 17:17] lionelvillard commented on #495
it seems that just installing the KafkaChannel CRD should fix this, right?

[2021-04-01 21:53] lberk opened #498 "[Consolidated Channel] e2e tests should work while dispatcher is scaling up/down"
**Describe the bug**
#476 seems to indicate the testsuite as a whole isn't very robust to scaling events of the dispatcher.  It would be good to know if that's a testing related failure, or something in the channel functionality itself.  It may be worth adding functionality in the pod recorders to only assert if the event was accepted by the channel (ie, if we get a 500 back, don't assert on that

[2021-04-02 01:31] #68 closed

[2021-04-02 06:22] devguyio commented on #245
/unassgin

[2021-04-02 06:22] devguyio commented on #245
/remove-lifecycle stale

[2021-04-02 10:58] cardil commented on #495
Right. That's what this issue is about. I think post-install scripts should be safe to apply, even if you didn't deploy the KafkaChannel CRD.

[2021-04-05 17:30] eric-sap opened #502 "Distributed channel dispatcher/receiver deployments not updated after upgrade"
**Describe the bug**
The distributed channel controller has no mechanism to identify and update dispatcher or receiver image changes during reconciliation.  This leaves pods with their original image until the deployments are manually deleted or modified (via "rollout restart" or similar)

 **Expected behavior**
When a KafkaChannel is reconciled, any dispatcher deployments that don't specify the c

[2021-04-05 17:30] eric-sap commented on #502
/assign eric-sap

[2021-04-06 07:50] #280 closed

[2021-04-06 07:50] devguyio commented on #134
Fixed by #433

[2021-04-06 07:50] #134 closed

[2021-04-06 08:32] devguyio opened #503 "[Consolidated Channel] Dispatcher doesn't honor Subscription generation and doesn't update consumers"
**Describe the bug**
_(This behavior is only for the consolidated channel)_

When an existing `Subscription` spec to a `KafkaChannel` is updated (`Subscriber`, `Reply` or `Delivery`) , the dispatcher doesn't update its consumers which results in the old subscriber receiving events, and the new subscriber not.

 **Expected behavior**
When updating the spec of an existing `Subscription` to a `KafkaC

[2021-04-06 08:32] devguyio commented on #503
/assign

[2021-04-06 13:18] lionelvillard opened #504 "[test] e2e-test.sh modifies files in vendor"
**Problem**
e2e-test.sh patches the test_images files in vendor, which is annoying when running the tests locally.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you thin

[2021-04-06 13:29] lionelvillard commented on #195
Reopening. While this might arguably not be important for the single-tenant source adapter, it's a show-stopper for the multi-tenant adapter.

[2021-04-07 07:58] slinkydeveloper commented on #245
/assign

[2021-04-08 01:30] #260 closed

[2021-04-08 03:08] aavarghese commented on #195
/assign

[2021-04-08 10:30] #245 closed

[2021-04-09 12:20] #195 closed

[2021-04-09 14:06] aliok commented on #318
Summary: this is done in a different way. Instead of on-the-fly reloading in the dispatcher, we do this:
- Watch the configmap in controller and resync everything: https://github.com/knative-sandbox/eventing-kafka/pull/486
- Do a rolling update of the dispatcher deployment: https://github.com/knative-sandbox/eventing-kafka/pull/514

Same thing will be done in distributed channel: https://github.co

[2021-04-09 16:39] cardil commented on #67
/reopen

[2021-04-12 01:29] #261 closed

[2021-04-12 16:03] cardil opened #533 "[QE] Upgrade tests should be executed with retries enabled"
**Describe the bug**
Kafka channel defaults to not having any retries. When some unavailability occurs, it may be that the event will not be delivered despite being properly committed to Kafka topic. In upgrade tests we report lost events, so we should enable retries. Or Kafka channel defaults should include some retries, which is a better option, in my mind.

Related to #72 and #67

 **Expected b

[2021-04-12 16:06] cardil commented on #533
/area test-and-release

[2021-04-13 18:28] maschmid opened #536 "[Consolidated Channel] Some of the KafkaChannel-backed Broker Triggers' Subscriptions stuck in SubscriptionNotMarkedReadyByChannel"
**Describe the bug**

After creating a bigger number of triggers (32 brokers with 8 triggers each) for KafkaChannel-backed brokers at around the same time, some of the Subscriptions are stuck in SubscriptionNotMarkedReadyByChannel

[code]

 **Expected behavior**
All Subscriptions should eventually become Ready

 **To Reproduce**
https://gist.github.com/maschmid/8e174443803296d2c1f43ea90f6bad40

 *

[2021-04-14 13:11] maschmid opened #538 "[Consolidated Channel] Deleting KafkaChannel-backed Broker with events in flight blocks new Subscriptions in SubscriptionNotMarkedReadyByChannel"
**Describe the bug**
With consolidated channel, sometimes all new Subscriptions for a KafkaChannels stay in SubscriptionNotMarkedReadyByChannel for tens of minutes before becoming Ready.

It seems the problem sometimes occurs occurs with Brokers with retries, when the broker is being deleted while there are still events flowing... and somehow with the retries it also seem to starve any legitimate

[2021-04-15 01:30] #276 closed

[2021-04-15 20:31] #455 closed

[2021-04-16 00:04] aliok opened #541 "Kafka Source should watch config-kafka"
**Describe the bug**
Similar to #318 but for Kafka Source.
Kafka Source should watch config-kafka and reconfigure the controller and the adapter(s).

 **Expected behavior**
Kafka Source should watch config-kafka and reconfigure the controller and the adapter(s).

 **To Reproduce**
- Create a KafkaSource, a source adapter will be created
- Update `config-kafka` and nothing will be reflected on Kafk

[2021-04-16 00:04] aliok commented on #541
/assign

[2021-04-16 00:22] aliok commented on #502
We talked about this during #537 but I haven't implemented it myself.

Some thoughts:

In consolidated channel, the entire deployment spec was compared until https://github.com/knative/eventing-contrib/pull/929 was merged. I don't know what the root cause was for that change though.

[2021-04-16 06:17] slinkydeveloper commented on #312
Is this still valid @aliok? I recall we talked about it and we agreed on having it configurable just at startup

[2021-04-16 08:48] aliok commented on #312
/close

No, it is not valid. Both channel's implementations do `kncloudevents.ConfigureConnectionArgs(...)` properly now.
I now created https://github.com/knative-sandbox/eventing-kafka/pull/542 to completely remove the dispatcher arg thing.

[2021-04-16 08:48] #312 closed

[2021-04-16 11:11] aliok opened #544 "Distributed channel mains should use sharedmain"
**Describe the bug**
Distributed channel mains currently don'y use sharedmain and duplicate some code.

 **Expected behavior**
Distributed channel mains should use sharedmain

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
0.21

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-04-16 11:17] aliok opened #545 "Unify environment reading in all components"
**Problem**
Kafka channel implementations use different mechanisms to read environment variables. There's also KafkaSource.

Unify these within a single `envutil` that reads env vars.

Also, try to unify the environment variables as well. At least 2 channel implementations should accept the same parameters and make use of them.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/per

[2021-04-16 11:26] aliok opened #546 "Implement resync period env var in consolidated channel"
**Problem**
Resync period env var is implemented in distributed channel. Implement it in consolidated channel too.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor, System Integrator

**Exit Criteria**
Resync period env var also used in consolidated channel

**Time Estimate (optional):**
1 day

**Additional context (optional)**
Relevant to https://githu

[2021-04-16 11:30] aliok opened #547 "Unify deployment, role, service-account, etc. names among Kafka channels"
**Problem**
Resource names for channels are different. Problems with that:

1. Hard to write documentation around operating the channel
2. There are code pieces which we refer these resources by their names and these code cannot be unified

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor, System Integrator

**Exit Criteria**
Deployment, role, service-ac

[2021-04-16 15:29] eric-sap commented on #502
For this issue I wanted to compare certain parts of the spec and containers while ignoring specific individual fields (as opposed to just comparing "the image"), so I used the go-cmp package instead of DeepEqual().  It may some to light that some of the fields I'm not ignoring are causing spurious differences, but so far I haven't found anything in my smoke testing for PR548.

[2021-04-18 08:19] maschmid opened #549 "[Consolidated Channel] events potentially undelivered if kafka-ch-dispatcher restarted before first events sent"
**Describe the bug**

In a following scenario:
1. Subscription to a KafkaChannel gets Ready
2. kafka-ch-disptacher is restarted (e.g. pod delete)
3. events are sent just as new kafka-ch-disptacher starts

Some of the first events are not delivered to the subscriber.

It seems that if no events were yet commited, the new kafka-ch-dispatcher starts partition consumers at the "-1" offset, even if the

[2021-04-19 01:29] #279 closed

[2021-04-19 07:46] slinkydeveloper commented on #549
I think this one is duplicated of https://github.com/knative-sandbox/eventing-kafka/issues/420

[2021-04-19 15:02] #533 closed

[2021-04-20 04:39] devguyio commented on #536
There was a bug in the logic of the prober and it wouldn't retry probing the same pod if it found at least one partition, sometimes some subscriptions encounter a delay between all the subscriptions getting ready.

So the initial probe of the dispatcher pod for the subscription abcd-1234-xyz of a channel with 8 subscriptions would return:
- "abcd-1234-xyz" : [0,1,2,4,5,6]
but after a while, the mi

[2021-04-20 06:02] #536 closed

[2021-04-20 09:34] mgencur opened #556 "Allow for passing client cert and key for mTLS when proper CA is used"
**Describe the bug**
As discussed in https://github.com/knative-sandbox/eventing-kafka/pull/359/files#r616492924 , it would be great to allow for passing the client certificate and key when we use proper CA - to allow for client authentication via certificates. Currently, the key and cert are not read when CA is not explicitly specified.

 **Expected behavior**
The client key and cert are passed t

[2021-04-20 11:23] matzew commented on #556
We still (for only TLS), can use something like [this])https://github.com/knative-sandbox/eventing-kafka/blob/main/test/e2e-common.sh#L467-L470):

[code]

which gives you options for `CA`, `key` _and_ `cert`

[2021-04-20 15:52] #71 closed

[2021-04-20 15:52] #426 closed

[2021-04-20 16:36] #502 closed

[2021-04-21 21:05] jeanabraham opened #562 "Unable to connect KnativeKafka to IBM Event Streams"
**Describe the bug**

History: https://github.com/knative/eventing/issues/5286

Knative kafka dispatcher fails to start due to error below. But I am able to connect to the same IBM ES Bootstrap Servers from an Kafka client successfully from localhost.

`{"level":"fatal","ts":"2021-04-20T16:53:25.508Z","logger":"kafkachannel-dispatcher","caller":"dispatcher/kafkachannel.go:106","msg":"Unable to cre

[2021-04-22 14:15] matzew commented on #562
looking at the other ticket (not sure why we need two).

So, for SASL with TLS, can you try this:

1. create a secret like:

[code]

2. have the `config-kafka` ConfigMap updated like (references: https://github.com/knative-sandbox/eventing-kafka/blob/main/test/config/config-kafka-sasl.yaml)

[code]

(the configmap is the manual install way, e.g. `k apply yaml`)

The referenced UI has some fields f

[2021-04-22 14:32] matzew commented on #562
I added some doc for this too: https://github.com/knative/docs/pull/3493

[2021-04-22 17:41] jeanabraham commented on #562
@matzew Yes, I've tried the secret config above, along with various other permutations with and without certs too. Unfortunately, not much luck here.

If `tls.enabled` is not in 0.19.2, does this mean this is not expected to work until Redhat Openshift Serverless releases based Knative 0.20?

[2021-04-23 06:36] maschmid opened #564 "[Consolidated Channel] kafka-ch-controller keeps open connections to Kafka when KafkaChannel is deleted"
**Describe the bug**
On a cluster where KafkaChannels are frequently created and deleted, the number of open TCP connections to Kafka from kafka-ch-controller keeps increasing.

 **Expected behavior**
TCP connections to Kafka should be eventually closed after KafkaChannels are deleted.

 **To Reproduce**
Create and delete KafkaChannels, e.g. like
https://gist.github.com/maschmid/d4f1d0d545dee912a6

[2021-04-23 07:07] slinkydeveloper commented on #564
/assign

[2021-04-23 07:49] slinkydeveloper commented on #564
I've checked for any leak of the kafka admin client:

* In `ReconcileKind` @devguyio added a patch recently to close the admin client https://github.com/knative-sandbox/eventing-kafka/commit/c4ff783520580953d0ae397708c764815932b6ba#diff-8d0207acc30e8507b21472d7c7ec7070441d085b47345fc60e6f53ec601da3fdR165, so that should be ok
* The same thing was missing in `FinalizeKind`, here is a PR for it: htt

[2021-04-23 13:02] lionelvillard commented on #562
@matzew Are you sure? https://github.com/knative-sandbox/eventing-kafka/pull/378

FWIW, I was able to connect to ES using the 0.19 branch.

[2021-04-23 19:47] jeanabraham commented on #562
I upgraded the Operator to use 0.20 and it connects to ES now. Thanks for the help. I'll close the issue.

[2021-04-23 19:47] #562 closed

[2021-04-23 20:24] jeanabraham opened #567 "PingSource event to KafkaChannel backed by IBM Event Stream doesn't go through"
## Expected Behavior

PingSource -> KafkaChannel (IBM ES) -> event-display working.

## Actual Behavior
No events seen in event-display. Ofcourse, PingSource directly connecting to event-display causes the pod to scale up.

## Steps to Reproduce the Problem

1. Create KafkaChannel
2. Confirmed that Kafka Topic in IBM ES got auto-created by Knative. Confirming Knative -> IBM ES connection
![image](

[2021-04-26 14:47] aliok opened #570 "[consolidated ch] Unnecessary restart of dispatcher pod(s)"
**Describe the bug**

from @matzew

the configmap-hash is empty ( "") on first startup: https://github.com/knative-sandbox/eventing-kafka/commit/0decad4cd74fcd1d5e15b2b160ef9fa2173304de#diff-2932656ebe01ef3d25[…]07f4e4232aae131cdb95fR35

Now, when I create a channel we hit: https://github.com/knative-sandbox/eventing-kafka/blob/main/pkg/channel/consolidated/reconciler/controller/kafkachannel.go#L3

[2021-04-26 17:30] matzew commented on #494
@vaikas any comments on the above?

[2021-04-29 06:30] matzew commented on #567
/close

there seem some wrong usage of APIs here:

[code]

it is more like:

[code]

[2021-04-29 06:30] #567 closed

[2021-04-29 06:32] matzew commented on #70
with https://github.com/knative-sandbox/eventing-kafka/pull/550 merged, this is done

/close

[2021-04-29 06:32] #70 closed

[2021-04-29 06:35] matzew commented on #334
topics are not deleted.
and we have e2e setup with the auto create -> false now

/close

[2021-04-29 06:35] #334 closed

[2021-04-29 07:07] matzew commented on #357
Something like `k -n knative-eventing patch configmap/config-kafka --type=merge --patch='{"data": {"maxIdleConns": "1000", "maxIdleConnsPerHost": "1000"}}'` is possible now

/close

[2021-04-29 07:07] #357 closed

[2021-04-29 18:34] travis-minke-sap opened #588 "ResetOffset Command"
**Problem**
Users of Kafka resources need the ability to reposition the Offsets of a particular ConsumerGroup in order to recover from unexpected downtime. The associated Feature Track [document](https://docs.google.com/document/d/1sbvxEWTB7l6eADk4WyddHLEtH1q9cv7rlSbiBivHGMs/edit?usp=sharing&resourcekey=0-Ngyt3ddYC1ltSP1g59eYXQ) contains a detailed description of the feature. This Issue is the top

[2021-04-29 22:35] eric-sap opened #590 "Distributed deployments aren't being updated when the volumes change"
**Describe the bug**
The combination of code for issues #455 and #502 have resulted in an upgrade problem where the deployments for the distributed channel aren't updated properly from old versions because the volumeMounts, which are part of the container, are being changed but the volumes, which are outside of the container list, are not.  Volume changes should be included in the set of "allowabl

[2021-04-29 22:35] eric-sap commented on #590
/assign

[2021-04-30 11:31] #294 closed

[2021-04-30 12:23] matzew commented on #294
@itsmurugappan thanks for creating the issue

[2021-04-30 12:57] #590 closed

[2021-04-30 13:48] ssandanshi commented on #588
I would really like this feature. We have the use case for resetting offsets and had to do it via the kafka cluster directly. This will make that process much simpler. Let me know if I can help in the design and tasks.

[2021-04-30 13:56] vayyappaneni commented on #588
We are currently doing in manual way to reset topic offsets to read the data from Kafka to re-processing data and to recover from unexpected downtime.

[2021-05-02 00:04] devguyio commented on #570
@matzew
1. why would you install with the dispatcher replicas set to 1 already? is it to start with the replicaset scaled to more than 1 pod?
2. I believe it's gonna be hard for the controller to deduce which configmap is the dispatcher aware of unless it redeploys it. Say you're installing for the first time `ko apply -f config/...`  where you set the replicas to 1 upfront, that ends up with the

[2021-05-03 11:49] jeanabraham opened #592 "Trigger on InMemoryChannel Broker getting SubscriptionNotMarkedReadyByChannel error"
## Expected Behavior
Successful Trigger creation against in-memory channel broker.

## Actual Behavior
Error 'SubscriptionNotMarkedReadyByChannel' on Trigger creation.

## Steps to Reproduce the Problem
[code]
## Additional Info
 OCP 4.7; Knative 0.20

[2021-05-03 12:43] jeanabraham commented on #592
I'm unable to determine the root cause of this, but creating a newly named in-memory broker fixed the issue. Perhaps a hanging CRD reference got corrupt somewhere.

[2021-05-03 12:43] #592 closed

[2021-05-04 16:00] aavarghese opened #593 "[scheduler,mtsource] Implementing EvenSpread HA support across nodes within a zone"
**Problem**
Implementing HA across pods within a zone (# of pods is not static unlike # of zones, so spreading equally may also mean rebalancing)

More info in https://github.com/knative-sandbox/eventing-kafka/pull/587, https://github.com/knative-sandbox/eventing-kafka/issues/463

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

*

[2021-05-04 16:03] aavarghese opened #594 "[scheduler,mtsource] Watch node/zone changes in State Accessor"
**Problem**
 Currently, number of zones and node to zone information is computed and stored in State accessor when state() is called. We need a watch for zone/node changes to recompute.

 More info in #587, #463

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Add a new node. And EvenSpread recomputes number rep

[2021-05-04 20:46] aavarghese opened #596 "[scheduler,mtsource] Pod not found when using kubeclient to get Pod"
**Describe the bug**
[`s.podClient.Get(context.Background(), podName, metav1.GetOptions{})`](https://github.com/knative-sandbox/eventing-kafka/pull/587/files#diff-a018257107494e5d9c11a86da6ba0c7f4c4581c44ffe2e687d9a4cc3d39ba7f7R402) returns error occasionally
```"error":"pods \"kafkasource-mt-adapter-4\" not found"``` (in controller log), and then most times during the next reconcile, it passes.

[2021-05-04 22:42] aavarghese commented on #593
/assign

[2021-05-06 19:48] eric-sap opened #602 "Distributed channel no longer needs to watch secrets"
**Describe the bug**
Originally, the distributed channel had a requirement to support multiple Kafka auth secrets, which were dynamically watched and resulted in the creation and deletion of Receiver services and deployments based on those credentials.  The use case for this has been deprecated but the kafkasecret controller remains in the controller code.

 **Expected behavior**

- Secret watchin

[2021-05-06 19:48] eric-sap commented on #602
/assign

[2021-05-07 07:55] aliok opened #605 "[consolidated ch] Handle invalid config-kafka and invalid contents better"
**Describe the bug**
https://github.com/knative-sandbox/eventing-kafka/blob/771dc69bf91e33016d68a4165690be3147e3fdcd/pkg/channel/consolidated/reconciler/controller/controller.go#L116

This line ignores the errors happening during the config reloading (well, actually, config reloading doesn't return any errors. it should return errors as the first thing).

Distributed channel is doing that (with PR

[2021-05-07 20:41] eric-sap opened #608 "Distributed channel needs to handle changing the authSecretName/authSecretNamespace"
**Describe the bug**
After the update for issue #602 (PR #603), the name of the single secret is given in the config-kafka configmap via the authSecretName and authSecretNamespace fields in the eventing-kafka.kafka section.  As long as this secret name is the same as whatever the cluster admin has been using prior to this update, there will be no trouble.  However, if the admin changes this authSe

[2021-05-10 17:49] eric-sap commented on #405
I took some of the ideas from @aliok and @travis-minke-sap and am attempting to come up with a good combination configmap considering some of the changes from the past few months.  These are my reasonings behind the rearrangements:

- The 'enableSaramaLogging' field really doesn't fit anywhere in eventing-kafka; no matter where I put it, it was the 'sore thumb' and moving it to the sarama section

[2021-05-11 12:59] derekwilliamsliquidx opened #613 "Allow user defined annotations for kafka channel dispatchers and receivers"
**Problem**
I have a need to annotate dispatcher and receiver pods so that I can scrape logs and metrics with Datadog. While I could accomplish this with Fluentbit or Jaeger, all other resources within my cluster allow custom annotations.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
This feature is targeted at a Cluster Admin and/or developer.

**Exit Criteria*

[2021-05-11 14:57] lionelvillard opened #614 "[mtsource] mtadapter crashes when SASL and/or TLS secret is not found"
**Describe the bug**
The mtadapter pod crashes when a secret is missing

 **Expected behavior**
A clear and concise description of what you expected to happen.
no crash

 **To Reproduce**
Steps to reproduce the behavior.
Create a KafkaSource pointing to bogus secrets

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-05-11 16:38] ssandanshi commented on #613
I would also like if more specs for the dispatcher and receiver deployments are exposed. The easiest way is definitely through the config map. we already have control over the replicas, resources and other things mentioned by derek.

Our feature requests also include ability to provide affinity/node selectors, (preferably scoped per channel through channel spec for dispatcher, but global config se

[2021-05-12 12:37] lionelvillard commented on #300
/remove-lifecycle stale

[2021-05-12 13:25] #463 closed

[2021-05-12 14:42] benmoss opened #619 "kind-e2e.yaml syntax error"
**Describe the bug**
The kind-e2e.yaml github action doesn't seem to have ever been successfully configured. It complains about a syntax error on https://github.com/knative-sandbox/eventing-kafka/blob/main/.github/workflows/kind-e2e.yaml#L183

[2021-05-12 17:58] travis-minke-sap commented on #24
/remove-lifecycle stale

This issue has come up again for us related to istio-mesh tracing throughout - we might pursue forwarding istio/zipkin headers in the near future...

[2021-05-13 16:57] #614 closed

[2021-05-13 22:47] eric-sap commented on #405
/assign

[2021-05-14 02:22] #105 closed

[2021-05-15 02:18] #108 closed

[2021-05-15 19:03] maarek opened #623 "SASL Connection Issue with SASL_SSL + PLAIN"
**Describe the bug**
I have an use case where I am interacting with a cloud provider's kafka implementation and they set up client access with mechanism `PLAIN` and  protocol `SASL_SSL`. There are no provided SSL certs or anything and it does not accept SASL_PLAINTEXT configuration.

There seems to be an issue with how sarama and or the broker is configured that does not allow sarama to connect to

[2021-05-17 08:23] slinkydeveloper commented on #300
:+1:

[2021-05-17 13:06] matzew opened #624 "Trigger on a Broker backed by the deprecated v1alpha1 KafkaChannel repeatedly re-creates Subscription"
**Describe the bug**

having a Broker backed by the deprecated v1alpha1 KafkaChannel:

[code]

Creating a Trigger,
[code]

repeatedly re-creates the Subscription several times per second. (Along with the updates to the Trigger and Channels, this also creates several Events per each Subscription re-created, causing a significant strain on the API server).

 **Knative release version**
0.22

[2021-05-17 13:07] matzew commented on #624
NOTE: changing the `broker` config map to use the `v1beta1` APIs did solve this problem...

[2021-05-17 13:14] matzew commented on #623
@maarek here is what we have for the channel:
https://github.com/knative/docs/pull/3493/files

[2021-05-17 13:25] matzew commented on #623
For the source I used it in the past like:

[code]

also, I had no SSL certs for the service

[2021-05-17 23:19] matzew commented on #624
We do have a migration for the `KafkaChannel` here:
https://github.com/knative-sandbox/eventing-kafka/tree/release-0.22/config/post-install

But... I wonder if that will actually have any effect on the `ConfigMap` here, which uses a `channelTemplateSpec` to declare the Channel:
[code]

[2021-05-18 06:49] vaikas commented on #624
The configmap you shared is just used by the defaulting webhook to fill in missing values, so unless something goes in and updates the configmap, any new resources are created with those values.
If you're asking will the storage migration update the configmap the answer is no. It will just go in and read all the resources and write them back.

[2021-05-18 10:39] matzew commented on #624
Thanks for the reply - so basically a manual update of the ConfigMap content is needed...?

[2021-05-18 20:22] steven0711dong opened #628 "[mtsource] Remove vreplicas starting from adapter pods with the biggest ordinal"
**Describe the bug**
When KEDA scales vreplicas down, the extra vreplicas were removed from the wrong adapter pod.

 **Expected behavior**
The extra vreplicas should be removed from adapter pods with the biggest ordinal first

 **To Reproduce**
Create a Kafka source that spans over 2 pods and then stop sending events to the topic, when KEDA scales the vreplica back to 1, you will see the Kafka sou

[2021-05-18 21:59] steven0711dong opened #629 "Duplicate messages when adapter/dispatcher failed to drain messages "on time""
**Describe the bug**
When a Kafka source spans over one pod, we receive duplicate messages

 **Expected behavior**
When a Kafka source spans over one pod, we should not receive dups.

 **To Reproduce**
Create a Kafka source that spans over multiple adapter pod, you should see duplicate messages in the sink.

 **Knative release version**

 **Additional context**
Add any other context about the prob

[2021-05-19 14:02] matzew commented on #66
/assign matzew

[2021-05-19 17:40] lionelvillard opened #634 "Remove hard dependency on Strimzi to run e2e tests"
**Problem**
The existing e2e tests assume Strimzi is installed in the same cluster where eventing kafka is installed.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you t

[2021-05-19 18:15] steven0711dong commented on #628
I'll be working on this.

[2021-05-19 18:20] #66 closed

[2021-05-19 22:23] eric-sap opened #637 "Distributed KafkaChannel CRs are marked as "Not Ready" if dispatcher deployment/service isn't perfect"
**Describe the bug**
The "Ready" field of a KafkaChannel (visible via "kubectl get kafkachannel [name]" and via the status fields in the full resource description) is set to "Not Ready" in the event of dispatcher deployment errors.
When a KafkaChannel is "Not Ready" then incoming messages to the Receiver service will be kicked back with an internal server error response.
The problem is that the re

[2021-05-19 22:23] eric-sap commented on #637
This issue was raised in the #eventing-questions channel (https://knative.slack.com/archives/C017X0PFC0P/p1621023200186300)

More discussion here is very welcome

[2021-05-20 13:47] lionelvillard opened #639 "[source] KafkaSource should by default retry sending events"
**Problem**
KafkaSource does not retry sending events when a failure occurs. This is causing events to be lost during upgrade and transient failures.

The first baby step is to bake retries into KafkaSource.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the

[2021-05-21 16:07] ssandanshi opened #643 "Ability to provide Topic Retention Period on Kafka Channel Spec"
**Problem**
Currently, kafka Channel spec does not allow passing in Retention period at the CRD level.

The distributed Channel already has a util function to get Retention Periood and uses the default value to create Topic using  admin client. A code change would be required here - https://github.com/knative-sandbox/eventing-kafka/blob/fbb9090ab2a9407cdcbc562d54429c20518930db/pkg/channel/distribu

[2021-05-22 02:20] #135 closed

[2021-05-22 02:20] #323 closed

[2021-05-23 02:29] #327 closed

[2021-05-24 06:57] slinkydeveloper commented on #639
Maybe should kafka source support delivery spec?

[2021-05-24 07:22] slinkydeveloper commented on #643
Sounds like an interesting feature, would you mind providing a PR for it? I can drive you through :smile:

[2021-05-24 07:58] aliok commented on #126
/remove-lifecycle stale

[2021-05-24 08:52] aliok commented on #387
/remove-lifecycle stale

[2021-05-24 08:52] aliok commented on #388
/remove-lifecycle stale

[2021-05-24 08:52] aliok commented on #389
/remove-lifecycle stale

[2021-05-24 16:49] lionelvillard opened #645 "[mtsource] Revert buffersize calculation"
**Problem**
A short explanation of the problem, including relevant restrictions.
The mtsource adapter does some magic to not exceed the memory limit. This magic is not needed (see [KIP-74](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=65864887))

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**

[2021-05-24 17:54] ssandanshi commented on #643
Sure, I can work on that PR. There are a few questions on the defaults. I believe this should be an optional config for the Channel spec.
If not provided, the distributed channel will use the default value. But, what would the consolidated channel do? I believe we should not pass it in during topic creation in that case so that it can take the broker retention time by default.

Also I'm not sure a

[2021-05-24 18:20] lionelvillard opened #647 "[mtsource] Does not cancel stadapter when only the # of replicas changes"
**Problem**
The stadapter is always stopped when the KafkaSource spec changes. This is not always needed, specially when just the number of replicas changes

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (option

[2021-05-24 18:36] lionelvillard commented on #469
https://github.com/knative-sandbox/eventing-kafka/pull/621 fixes it.

[2021-05-24 18:36] #469 closed

[2021-05-25 02:58] ssandanshi commented on #643
I think I should wait for https://github.com/knative-sandbox/eventing-kafka/pull/622 to be merged in so that I have a common config map to use. It attempts to fix https://github.com/knative-sandbox/eventing-kafka/issues/405.

[2021-05-25 13:18] #67 closed

[2021-05-25 14:49] #645 closed

[2021-05-25 20:57] steven0711dong commented on #628
PR https://github.com/knative-sandbox/eventing-kafka/pull/652 is merged

[2021-05-25 20:57] #628 closed

[2021-05-25 23:17] steven0711dong opened #655 "Configurable Kafka Client Version"
**Describe the bug**
Currently the Kafka version is defaulted to 1.0.0

 **Expected behavior**
Kafka version should be configurable. It should be per Kafka source

 **To Reproduce**
Just create a Kafka source and see from the Kafka client config

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-05-25 23:19] steven0711dong commented on #655
@lionelvillard Kafka version should be per Kafka source right? Because it is a bring your own Kafka instance sort of thing. If so, users should indicate the Kafka version on their CR.

[2021-05-26 08:17] aliok commented on #655
KafkaSource (not sure about MT one) reads the Kafka version from `config-kafka` and uses it as the Kafka version to pass to Sarama.

If it is a common thing to use multiple Kafka clusters for KafkaSources within a Kubernetes namespace, yes, we can have them in the KafkaSource CRD. Can we validate if that's the usecase?

[2021-05-26 11:42] aliok commented on #613
+1 on ideas here. We already have some specs available to setup within the configmap (e.g. CPU resources). We can have these there too.

[2021-05-26 13:04] aliok opened #656 "KafkaChannel doesn't respect the scope annotation when creating the topic"
ORIGINAL ISSUE: https://github.com/knative/eventing-contrib/issues/1189

**Describe the bug**
When `eventing.knative.dev/scope: namespace` annotation is available on a channel, KafkaChannel should create the topic in the Kafka cluster that's specified in the `config-kafka` configmap within the same namespace.
But the topic is created in the Kafka cluster that's specified in the Knative system's `k

[2021-05-26 13:04] aliok commented on #656
Related https://github.com/knative-sandbox/eventing-kafka/issues/126

[2021-05-26 13:14] #405 closed

[2021-05-26 13:16] lionelvillard commented on #629
`Consumer.Group.Session.Timeout` doc:

[code]

Since it is removed from the group, another member can join the consumer group and process the messages coming from the same partitions as the not-yet-terminated member, causing duplicates.

ConsumerClaim should exit as soon as the session is closed, due to rebalancing or termination (scaling down). We should also put a timeout on requests to avoid lo

[2021-05-26 13:34] travis-minke-sap opened #657 "Investigate / Remove Defaulting/Validation Logic"
The consolidated and distributed KafkaChannel reconcilers (and soon the ResetOffset) all have logic in their ReconcileKind() implementations for setting defaults and validating the KafkaChannel (ResetOffset) resource being reconciled.  It was suggested (in PR #626) that this should already be covered by the WebHook and that this logic should be removed.  This issue is to confirm that assessment an

[2021-05-26 14:39] steven0711dong commented on #629
@lionelvillard Are we talking about `Rebalance.Timeout` or `Session.Timeout`? The comment was from `Rebalance.Timeout` though.

[2021-05-26 14:42] steven0711dong commented on #655
@aliok I'm not sure about Single tenant, but is Knative Kafka source designed for using the exact same Kafka cluster? If not, then this should be a property on the CR.

[2021-05-26 14:55] lionelvillard commented on #629
Rebalance.Timeout.

[2021-05-26 15:05] lionelvillard commented on #655
I would rather rely on [KIP-35](https://cwiki.apache.org/confluence/display/KAFKA/KIP-35+-+Retrieving+protocol+version) to automatically find the protocol version. The user shouldn't have to do that.

[2021-05-27 19:35] steven0711dong opened #664 "[source] Missing event because of missing retry"
**Describe the bug**
Missing events because retry is missing

 **Expected behavior**
We expect when a sink post fails, we should retry so we don't have missing events

 **To Reproduce**
Produce half million messages to a topic of more than 100 partitions and have all messages forwarded to a sink with no delay.

 **Knative release version**

 **Additional context**
Add any other context about the p

[2021-05-27 20:04] steven0711dong opened #665 "Kafka source occasionally gets stuck"
**Describe the bug**
Occasionally a Kafka source gets stuck in a state that the `vreplicas` do not get scaled down. And the kafka source swings between setting up handler and clean up handler

 **Expected behavior**
Allow kafka source to move on

 **To Reproduce**
It happens occasionally and randomly

 **Knative release version**

 **Additional context**
Add any other context about the problem her

[2021-05-27 21:57] lionelvillard opened #667 "[mtsource, scheduler] autoscaler refresh period is too big"
**Describe the bug**
it takes up to 2mn to increase the number of pods, that's too much.

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2021-05-28 13:02] lionelvillard commented on #664
Duplicate of https://github.com/knative-sandbox/eventing-kafka/issues/639

[2021-05-28 15:21] steven0711dong commented on #629
Tests from May 28th reveals the dups issue still exists. So I reopened this.

[2021-05-28 15:22] steven0711dong commented on #664
@lionelvillard Like @slinkydeveloper said, I think supporting delivery spec could be a good option. What do you think?

[2021-05-28 15:23] steven0711dong commented on #664
Do not close on this issue yet. Whether the missing events due to retry works or not depends on our tests results. We need multiple tests to confirm whether the fix works or not.

[2021-05-28 15:25] steven0711dong commented on #639
@slinkydeveloper Moved the discussion to #664. Closing this one because it's a duplicate.

[2021-05-28 15:25] #639 closed

[2021-05-28 15:34] steven0711dong commented on #665
This is a serious issue. I still have a Kafka source in stuck state since last night with 150Million messages and it's been 9 hours and only less than 10000 messages were consumed. Kafka source seems to be stuck inside Sarama library.

[2021-05-28 22:50] lionelvillard commented on #629
Can you describe the steps to reproduce? Do you see errors in the log?

[2021-05-31 07:37] aliok commented on #665
I have done similar tests (not 150 million messages) and haven't seen this problem.
It is either a new one, or it is an edge case. Which version are you using @steven0711dong ? Any other hints to reproduce this?

[2021-06-01 22:09] eric-sap opened #679 "Consolidated and Distributed channel should use the same secret format"
**Describe the bug**
Issue #405  (PR #622)  consolidated the config-kafka configmap for use by both the consolidated and the distributed channel types.  However, the kafka-cluster secret was not similarly merged and remains in a different format for both channel types.  This division serves no practical purpose and should be collapsed into a single secret.

 **Expected behavior**
The consolidated

[2021-06-02 20:28] ssandanshi commented on #656
This bug fix would be greatly appreciated.

[2021-06-02 22:00] aavarghese commented on #667
/assign @aavarghese

[2021-06-03 23:04] skonto opened #683 "Event counts are not properly exported for the consolidated channel"
**Describe the bug**

I link a source to a kafka channel and then kill the Kafka brokers.
I get the following errors:
[code]
However the returned error is not reported as a failure in metrics. The error above for the msg not sent comes from the  [receiver](https://github.com/knative-sandbox/eventing-kafka/blob/release-0.22/pkg/channel/consolidated/dispatcher/dispatcher.go#L128) and it is returned

[2021-06-05 03:11] #335 closed

[2021-06-07 15:23] 2020testuser opened #689 "KafkaSource Spec"
Hi,
Seems like there is a bug in KafkaSource Spec. generation.
I'm getting the below error.
If I have tls enabled and sasl disabled, I get the below error. The sasl key, value attributes must not be included during spec generation.

Could anyone shed some light to fix the issue, please? Thanks in advance!!

Below is the KafkaSourceSpec.

`{\"kind\":\"KafkaSource\",\"apiVersion\":\"sources.knative.

[2021-06-08 07:51] aliok commented on #363
/remove-lifecycle stale

[2021-06-08 07:57] aliok commented on #434
/remove-lifecycle stale

[2021-06-08 12:50] lionelvillard opened #691 "[mtsource] mtadapter crashes due to OOM"
**Describe the bug**
When the mtadapter starts it sometimes enters in the crashloop due to OOM. This happens when there are many queued messages in a topic, leading to the input buffers to exceed the container memory limit.

MaxResponseSize was used to mitigate this issue but its scope is per Fetch Request, which when the consumer group starts, the number of Fetch Requests can somewhere between 1

[2021-06-08 14:15] #664 closed

[2021-06-08 21:23] #691 closed

[2021-06-09 11:15] #683 closed

[2021-06-09 12:10] skonto opened #697 "Sarama Metrics are not currently exported for the consolidated channel"
**Describe the bug**
In the distributed version of the channel [Sarama metrics](Sarama metrics) are exported, check [here](https://github.com/knative-sandbox/eventing-kafka/blob/3a1ef9138d5e824f911add7d85bbb2e993baf84b/cmd/channel/distributed/dispatcher/main.go#L131) and [here](https://github.com/knative-sandbox/eventing-kafka/blob/3a1ef9138d5e824f911add7d85bbb2e993baf84b/cmd/channel/distributed/r

[2021-06-09 18:16] lionelvillard opened #699 "[scheduler] mtadapters may not scale down"
**Describe the bug**
The scheduler does not reassign vreplicas to "lower" pods  (ie: with a lower ordinal), preventing the autoscaler to scale down the mtadapter.

 **Expected behavior**
A clear and concise description of what you expected to happen.
The mtadapter should be able to scale down when there are unused pods.

 **To Reproduce**
Steps to reproduce the behavior.
Create 1 KafkaSource CR an

[2021-06-09 22:43] 2020testuser commented on #689
@lionelvillard - Thanks!
I create the KafkaSource programmatically using pkg - knative.dev/eventing-kafka/pkg/apis/sources/v1beta1. I get the below error.
`%verror from cluster : ctc, admission webhook \"defaulting.webhook.kafka.sources.knative.dev\" denied the request: mutation failed: cannot decode incoming new object: json: unknown field \"type\""}`

Below is my test yaml (which I created based

[2021-06-10 11:03] pierDipi commented on #233
cc @itsmurugappan, this should be related to what you were sharing on #eventing-delivery regarding using a user-provided topic.

[2021-06-10 11:08] pierDipi commented on #233
I opened an issue https://github.com/knative-sandbox/eventing-kafka-broker/issues/977

[2021-06-10 12:18] cardil opened #702 "[QE] Setting KafkaChannel as default by config map should have an option to set via operator"
It would be a good idea to have this code, capable to override the way the config map is applied. Currently, it's applying it directly, but when running under operator, that gets overwritten.

https://github.com/knative-sandbox/eventing-kafka/blob/f95e2c1c5fa237cef1389e8e64a53dbf93444979/test/upgrade/continual/channel.go#L244-L275

This prevented us to remove static configuration of default channe

[2021-06-10 12:54] lionelvillard commented on #689
What version of KafkaSource are you using?

[2021-06-10 16:22] aavarghese commented on #667
@lionelvillard I had done some experiments with the refreshPeriod for HA scheduler and left it as 100 seconds (previously was 10 seconds). This period should only affect how often the adapters scale down and not how often the scaling up is done for pending vreplicas, right?

I'm not seeing the 2 minutes wait for the pods to increase with MAXFILLUP. Anything else to do to reproduce?

[2021-06-10 16:33] lionelvillard commented on #667
that's right. Maybe that was just a fluke in my environment. Closing.

[2021-06-10 16:33] #667 closed

[2021-06-10 18:43] itsmurugappan commented on #233
yes @pierDipi this is what [kafka-topic-channel](https://github.com/Optum/kafka-topic-channel) addresses and this is how I defined the channel spec -> https://github.com/Optum/kafka-topic-channel/blob/main/samples/pingsourceevents/channel-cm.yaml.

[2021-06-10 19:49] #411 closed

[2021-06-10 20:24] aavarghese opened #704 "[scheduler,mtsource] Adapter Pods getting overcommitted when scheduling multiple sources at the same time"
**Describe the bug**
Adapter pods are getting more placements than their capacity (100) when multiple sources are run at the same time. One source does not see the other placements in progress from another source since it takes time to write the placements to status. Serialization of requests not happening.

 **Expected behavior**
Pods that are filled up to max (POD_CAPACITY=100) should not get ne

[2021-06-10 21:12] aavarghese commented on #596
Update: this is the error you see in the logs with the latest HA code changes for pod lister:

[code]

[2021-06-10 21:33] #596 closed

[2021-06-10 22:01] aavarghese commented on #593
@lionelvillard I think we meant "across nodes within a zone" and not "pods" right?

[2021-06-11 12:51] lionelvillard commented on #593
yes

[2021-06-14 18:34] steven0711dong commented on #699
@lionelvillard I think I fixed this issue by sorting the placements right?

[2021-06-15 07:52] aliok opened #708 "Kafka ch controller should not recreate the dispatcher if it is missing"
**Describe the bug**
Kafka ch controller recreates the Kafka ch dispatcher when it sees the dispatcher deployment is missing and this causing ownership problems when the Kafka channel components are deployed with an operator.

For example, at OpenShift Serverless we install the Knative Kafka components with our operator.
This operator simply applies the YAML in the manifest, which includes the Kaf

[2021-06-15 08:00] devguyio commented on #708
Can you elaborate more on that? why can't it propagate the readiness otherwise?

Why would the controller touch the replica count? I thought scaling the dispatcher deployment is a user concern, so either via yaml/kubectl or via the operator that installs the channel.

[2021-06-15 08:10] aliok commented on #708
Sure. If you the dispatcher pod is crashing, operator needs to state this in the installation CR (KnativeKafka in OpenShift Serverless case) status. Before, operator wasn't owning the dispatcher pod and there were some scenarios where the image was wrong for the dispatcher but the operator was saying "all good".

The idea is that don't start the dispatcher pod unless there's a Kafka channel create

[2021-06-15 08:24] devguyio commented on #708
I think the operator can watch for the status without owning the deployment right? .

IMHO I think this approach is correct. The controller should only care about "is there a ready dispatcher" for the channel status reasons. The yaml (and subsequently the operator) should create/delete/scale the deployment. And have the replicas in the repo config yaml set to 1.

[2021-06-15 10:59] aliok commented on #708
Yeah, but then we need to do additional checks like **manually** querying the API server for dispatcher deployment existence and checking the status. We don't do that currently.

[2021-06-15 12:49] lionelvillard commented on #699
This issue is about a different scenario. I updated the description. @steven0711dong PTAL and LMK if it makes sense to you.

[2021-06-15 13:41] matzew commented on #708
Even if we set it here to just `1` replica, the deployment it still touched.

/cc @lionelvillard

[2021-06-15 14:38] steven0711dong commented on #629
For the past several tests I've run, things seem to be working well. We cannot completely avoid duplicate messages simply because of rebalance timeout. Users need to have some kind of limit on their sink delay, otherwise dups will happen.

[2021-06-15 14:39] #629 closed

[2021-06-15 14:41] steven0711dong commented on #665
continue to monitor. So far I do not see stuck problem ever since the stuck fix was merged. Keep this issue open for a while until we don't see stuck issue for a while.

[2021-06-15 15:12] steven0711dong commented on #699
This is the same issue with [#489](https://github.ibm.com/coligo/eventing/issues/489)

[2021-06-15 18:28] lionelvillard opened #712 "Reenable skipped e2e tests"
**Describe the bug**

These tests have been disabled in https://github.com/knative-sandbox/eventing-kafka/pull/711 and https://github.com/knative-sandbox/eventing-kafka/pull/713:
- TestChannelDeadLetterSink
- TestChannelSpec
- TestChannelStatusSubscriber
- TestChannelStatus

 **Expected behavior**
A clear and concise description of what you expected to happen.
Should not be disabled

 **To Reprodu

[2021-06-17 16:38] PatrickOsborne commented on #613
I have a need to add istio custom annotations for CPU and memory requests for istio sidecar container.  This is imperative to scale up our solution for production use.

These need to be added to the deployment spec of the receiver and dispatcher pods.

     annotations:
        sidecar.istio.io/proxyCPU: 1000m
        sidecar.istio.io/proxyMemory: 200Mi

[2021-06-17 21:41] #699 closed

[2021-06-21 09:03] aliok commented on #613
For consolidated channel implementation, you may manually modify the Deployment here: https://github.com/knative-sandbox/eventing-kafka/blob/main/config/channel/consolidated/deployments/dispatcher.yaml#L16

It starts with `replicas: 0` and when there's a Kafka Channel created, the controller will scale it to 1 replica, leaving the other parts of the Deployment spec untouched.

@eric-sap Does this

[2021-06-21 12:39] eric-sap commented on #613
I believe that in the distributed implementation, you can similarly add a label to the deployments that will not be erased when the configmap changes.  This may be sufficient for the receiver (which is one-per-cluster, though is not created until the first KafkaChannel is reconciled in the latest incarnation), but the distributed dispatcher is a more interesting beast.  Since it is one-per-KafkaCh

[2021-06-21 12:46] eric-sap commented on #613
The other issue is that deployments in the distributed channel are generated internally (see newDispatcherDeployment() in pkg/channel/distributed/controller/kafkachannel/dispatcher.go) so modifying the deployment isn't as simple as modifying a static YAML file.  I don't actually know the reason for this; there may be something necessarily-dynamic in there but I would need to examine that code a bi

[2021-06-21 14:33] eric-sap commented on #613
For the dispatcher, the reasons for having the deployment internally-generated are:
* The name needs to be unique-per-kafkachannel (using util.DispatcherDnsSafeName)
* A number of environment variables are configurable (typically from the controller's own variables)
* The resource requests and limits are configurable (via config-kafka)
* Some other miscellaneous settings (liveness/readiness values

[2021-06-21 15:04] travis-minke-sap commented on #613
Yeah, I agree with what Eric has posted above.  The fact that the distributed channel dynamically creates the Receiver / Dispatcher implies the need to provide the "custom" configuration (labels, annotations, etc).

I think exposing the ability for the user to specify a set of custom **labels** and **annotations** for receivers/dispatchers would solve 80-90% of the problem and is probably good eno

[2021-06-21 16:44] lionelvillard commented on #613
FWIW, here:
- the design doc draft: https://docs.google.com/document/d/1VvlgoWP1_enKIaH9LBbGkLvwWUluLjPdtPezULCmzfE/edit?resourcekey=0-MFetW356DuH58TntTv3CjQ#
- and PingSource PR: https://github.com/knative/eventing/pull/4731

The initial effort is targeting vendors, not the users, since *in general*, I'm opposed to allow users to specify labels and annotations due to the implementation leaking th

[2021-06-22 06:11] BalaP21 commented on #475
remove-lifecycle stale

[2021-06-23 10:24] aliok commented on #613
@lionelvillard Can we move it one step forward? How about an approach similar to the Knative operator? AFAIK, you can give the Knative operator a URL to download the manifests (YAML). If no URL is given, it simply uses the manifests that's in the image.

[2021-06-23 13:19] lionelvillard commented on #613
@aliok not sure I fully understand your proposal. What would be the UX without using the Knative operator? Does your proposal give the ability for the user to specify a set of custom labels and annotations?

[2021-06-23 19:35] #704 closed

[2021-06-25 01:29] #229 closed

[2021-06-25 13:13] lionelvillard commented on #369
/remove-lifecycle stale
/reopen

I still think this is a good idea.

[2021-06-27 01:27] #215 closed

[2021-06-29 11:30] aliok opened #744 "`status.address` shouldn't be `required`"
**Describe the bug**
When the data plane crashes, we have no indication about that in the KafkaChannel CR status. It is because `status.address` is set as `required` and in case of a data plane problem such as dispatcher not up, we don't have the address and Kube API server doesn't allow us to save the status w/o an address set.

 **Expected behavior**
`status.address` shouldn't be `required` so t

[2021-06-29 20:03] ssandanshi commented on #126
Any updates on this?

[2021-06-30 14:56] travis-minke-sap commented on #477
This was an initial first step in the process of the design/implementation of the Replay feature and is no longer needed beyond historical information.  Work on ResetOffset (Replay) is progressing nicely in #588 so I will close this Issue ; )

[2021-06-30 14:56] #477 closed

[2021-07-01 11:11] matzew opened #749 "Post install for 0.23 not generated"
**Describe the bug**
The `post-install` files on this branch: https://github.com/knative-sandbox/eventing-kafka/tree/release-0.23/config/post-install
are not showing up on the "assets" of matching releases: https://github.com/knative-sandbox/eventing-kafka/releases/tag/v0.23.3

I do see this, however:   https://github.com/knative-sandbox/eventing-kafka/blob/release-0.23/hack/release.sh#L52-L58

 *

[2021-07-07 13:37] lionelvillard commented on #126
/cc @travis-minke-sap

[2021-07-07 14:34] travis-minke-sap commented on #126
Yeah, I hadn't seen this one in a long while ; ).    Definitely something that we should support, and I don't see why the distributed implementation couldn't be made to work similar to consolidated version.  My time is going to be focused elsewhere for awhile (#588, #613, etc...) but I've added to my personal internal tracking list of things that Eric and I can look at.

[2021-07-08 01:26] #435 closed

[2021-07-08 13:20] aslom opened #757 "failed to update: "v1alpha1": must appear in spec.versions"
**Describe the bug**

Not sure what is root cause - when updating getting `Invalid value: "v1alpha1": must appear in spec.versions`

May be mssing some step to upgrade or update after deleting Kafka source CRDs?

[code]

 **Expected behavior**
Update to latest Kafka source should work

 **To Reproduce**
Install old (<v0.23?) and then try to update

 **Knative release version**
v0.24 installed

 **

[2021-07-08 14:38] aslom commented on #757
it seems that more complex upgrade sis needed as original version 0.19.1 CRDs were still around.

going to nuke installation and start fresh

[2021-07-08 14:38] #757 closed

[2021-07-09 16:15] runzexia commented on #665
hi @steven0711dong we seems encountered a similar problem, can you help support which PR fixed this problem

[2021-07-10 01:24] #65 closed

[2021-07-13 15:06] lionelvillard commented on #665
The latest PR related to this issue is this one: https://github.com/knative-sandbox/eventing-kafka/pull/649

@runzexia Let's know if this fixes your stuck issue.

[2021-07-13 16:41] steven0711dong opened #760 "Kafka Source still shown as ready when topic is deleted"
**Describe the bug**
When user deletes the topic, Kafkasource status CR shows error but overall status is still shown as ready

 **Expected behavior**
We should have the overall ready status show the precise error

 **To Reproduce**
Create a Kafka source and make sure it is ready and receiving events and then delete the topic

 **Knative release version**

 **Additional context**
Add any other con

[2021-07-15 15:53] travis-minke-sap commented on #760
Yeah, interesting...

We (distributed channel) generally haven't done anything special to detect / correct such external manual deletion of Kafka Topics.  We have just assumed that the KafkaChannel CRD is the "owner" of the Topic, and that users are expected not to mess with them out-of-band.

Without trying it out... I would assume that the Receiver / Dispatcher would start logging errors and tha

[2021-07-16 01:27] #466 closed

[2021-07-16 01:27] #462 closed

[2021-07-16 21:42] ntx-ben commented on #760
I've also noticed that deleting a `KafkaChannel` results in the `eventing-kafka-channel-controller` crashing (using `v0.24.1`):

[code]

[2021-07-18 01:26] #474 closed

[2021-07-19 13:47] lionelvillard commented on #326
/reopen
/remove-lifecycle stale

[2021-07-19 15:59] travis-minke-sap commented on #760
I made a very quick attempt at reproducing this using Strimzi but didn't see the same behavior.  If I understand correctly the error is caused by deleting a KafkaChannel whose backing Kafka Topic has already been deleted?  Generally the logic should handle this case as a no-op (meaning... the topic should be deleted and it doesn't exist so there's nothing to do).

The actual failure above is most

[2021-07-19 17:17] ntzlqx commented on #760
We encountered the same...I am able to replicate if I nuke the entire kafka cluster...the Admin Client then fails with the above

[2021-07-19 18:56] travis-minke-sap opened #774 "[distributed kafka-channel] AdminClient Creation Error Handling"
**Describe the bug**

Currently the `distributed` KafkaChannel implementation creates a new AdminClient for each reconciliation iteration.  This is required due to Sarama client limitations.  If the AdminClient fails to create correctly, an error is logged but not handled, and reconciliation continues which will result in a **panic** crash/restart of the Controller due to the `Reconciler.adminClie

[2021-07-21 17:36] lionelvillard commented on #289
/remove-lifecycle stale

[2021-07-21 17:40] lionelvillard commented on #289
We talked about this during the Eventing WG meeting.

One possible solution, which seems appropriate for KafkaSource, is to add a new field in the KafkaSource spec for representing the initial offset.

@itsmurugappan do you have some cycles to work on this feature?

[2021-07-21 18:25] itsmurugappan commented on #289
Sure, I can work on this.
/assign

[2021-07-21 18:40] lionelvillard commented on #289
feel free to reach out directly to me or on the slack eventing-sources channel.

[2021-07-29 20:30] #774 closed

[2021-07-30 01:27] #491 closed

[2021-07-30 01:27] #413 closed

[2021-07-30 01:27] #325 closed

[2021-08-01 01:28] #498 closed

[2021-08-02 01:26] #495 closed

[2021-08-04 18:39] travis-minke-sap opened #788 "Add ResetOffset support to Consolidated KafkaChannel"
**Problem**
Issue #588 added the ResetOffset feature is to the Distributed KafkaChannel.  Once it is live (v0.25.0) and had some soak time it would be good to add it to the Consolidated KafkaChannel.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Cluster Admin and/or Event Subscriber personas

**Exit Criteria**
- ResetOffset feature is supported by the Consolidat

[2021-08-04 18:39] travis-minke-sap commented on #588
Closing this issue as all the sub-tasks are now complete.  The ResetOffset feature will be considered "live" in the next release (v0.25.0).  This is in place for the Distributed KafkaChannel only at this point.  Follow up Issue #788 was created to enable it in the Consolidated KafkaChannel.

[2021-08-04 18:39] #588 closed

[2021-08-05 09:02] devguyio opened #789 "[KafkaSource] E2e tests should retry producing events in the kafkacat producer-container"
**Problem**
Currently in KafkaSource e2e tests, it creates a `producer-container` Pod that uses kafkacat to produce events.
https://github.com/knative-sandbox/eventing-kafka/blob/main/test/e2e/helpers/kafka_helper.go#L98

If for whatever recoverable error kafkacat fails to produce the events, it'll fail without retrying. This makes the test sensitive to delays in Kafka replicas sync etc.

**Exit C

[2021-08-05 12:56] lionelvillard commented on #789
I wonder if we should deprecate these tests in favor of the rekt tests. Almost everything has been ported to rekt, except the update tests. @devguyio WDYT?

[2021-08-05 17:35] #789 closed

[2021-08-05 20:57] Vkrish-Nimmagadda commented on #656
Can someone please help if this bug if fixed ? We are using KNative for one of our releases and this is blocking us as we are not able to create a Topic.  It would be great if there is a workaround till the fix. We have the latest version fo Knative-eventing (0.24.1).  Any quick help is appreciated.

[2021-08-05 22:14] travis-minke-sap opened #794 "[Distributed KafkaChannel] Dispatcher Reconciliation & Reconfigure Lifecycle Problems"
**Describe the bug**
There are a couple problems with the Dispatcher's "controller" which is watching KafkaChannels in order to start/stop Kafka ConsumerGroups...

1. The reconciler does not requeue upon reconciliation errors so subscribers can become "stuck" in a bad state until the KafkaChannel is changed.
2. An existing kafkachannel can be put into a not ready state by a bad Reconfigure (Kafka

[2021-08-06 01:26] #504 closed

[2021-08-06 01:26] #503 closed

[2021-08-06 13:30] eric-sap commented on #608
/reopen
Still an issue, just .. busy

[2021-08-06 13:31] eric-sap commented on #608
/remove-lifecycle stale

[2021-08-06 17:49] #794 closed

[2021-08-11 13:37] cr22rc opened #804 "Provide a mean on kafka CR event source creation to specify Ce-overrides to be sent with the event."
**Problem**
No means today do Ce-overrides. See knative-eventing pingsoruce as an example

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
me

**Exit Criteria**
Create a kafkac event source which specifies ce-overrides and then see them in the events received.

**Time Estimate (optional):**
10,000

**Additional context (optional)**
nope

[2021-08-12 13:31] #289 closed

[2021-08-15 01:25] #541 closed

[2021-08-16 01:24] #547 closed

[2021-08-16 01:24] #546 closed

[2021-08-16 01:24] #545 closed

[2021-08-16 01:24] #544 closed

[2021-08-16 01:24] #386 closed

[2021-08-16 12:47] lionelvillard commented on #300
/remove-lifecycle stale

[2021-08-18 11:56] eric-sap commented on #637
/remove-lifecycle
This remains an issue (though whether or not the suggested fix is the best idea is open to debate)

[2021-08-18 11:56] eric-sap commented on #637
/remove-lifecycle stale

[2021-08-18 13:09] lionelvillard commented on #634
/remove-lifecycle stale

[2021-08-18 14:09] steven0711dong opened #810 "Remove confusing error message"
**Describe the bug**
`Kafka source is not ready` is always produced as an event and this message is confusing

 **Expected behavior**
Simply log the error and do not output this error as an event

 **To Reproduce**
Create a Kafka source and describe the Kafka source and you will see the events

 **Knative release version**

 **Additional context**
Add any other context about the problem here such

[2021-08-18 15:44] #810 closed

[2021-08-20 01:29] #556 closed

[2021-08-20 03:55] matzew opened #813 "defaultNumPartitions from Config-Kafka ConfigMap is not working"
**Describe the bug**

Apply the standard yaml for `consolidated-channel`, with updated `broker`, like:

[code]

seem to not recognize the `defaultNumPartitions`.  Creating a channel like:

[code]

Does still give you a topic w/ just one partition, see:

[code]

 **Expected behavior**
yaml works :smile_cat:

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additi

[2021-08-20 03:55] matzew commented on #813
/cc @eric-sap

[2021-08-20 13:57] #613 closed

[2021-08-20 19:45] travis-minke-sap opened #817 "[KafkaChannels] Topic Configuration Inconsistencies"
**Describe the bug**
This issue is a combination of a bug and a feature request, all pertaining to the same area of the code, which will require a refactor to align the behavior on a consistent approach.

First the bug...

The ConfigMap, shared by the two KafkaChannel implementations, includes a section **eventing-kafka -> kafka -> topic** which contains "default" values used when creating Kafka t

[2021-08-23 01:22] #564 closed

[2021-08-23 13:26] lionelvillard commented on #389
/remove-lifecycle stale

[2021-08-23 13:27] travis-minke-sap commented on #813
Hey @matzew - I think this is a sub-set of the larger issue (#817) I've just created a PR (#818) for... maybe once I get this merged we can retest/close this?